.bannerWarp {
    width: 100%;
    height: 332px;
    
    .bannerSwipe {
      width: 100%;
      height: 100%;

     img{
        display: block;
        width: 100%;
        height: 100%;
        background-size: 100% ;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:deep(.van-swipe__indicator) {
        width: 7px;
        height: 7px;
        background: linear-gradient(180deg, #F0F5FD 0%, #C5D3EE 100%);
        opacity: 1;
      }

      &:deep(.van-swipe__indicator--active) {
          background: #6485FD !important;
          border: 1px solid white;
          box-shadow:0 0 0 1px #6485FD;
      }
    }
  }
  // 首页弹窗一系列
  .pop_title {
    text-align: center;
    line-height: 30px;
    width: 260px;
    height: 30px;
    color: #fff;
    background: linear-gradient(90deg, #95AEFF 0%, #7695FB 49%, #597EF8 100%);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
  }
   .van_item {
    padding: 10px;
  }
  .text_content {
    height: 90px;
    overflow: auto;
    line-height: 21px;
    padding: 0 10px 0 0;
    color: #000000;
    text-align: left;
    white-space: pre-wrap;
    overflow-wrap: break-word;    
  }
.flex_btn {
  padding: 10px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  text-align: center;
  // background: rgba(242, 242, 242, 0.8);

  .know_btn {
    width: 114px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #597EF7;
    color: #597EF7;
    line-height: 32px;
  }

  .addmore_btn {
    width: 114px;
    height: 32px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #597EF7;
    line-height: 32px;
  }
}

.close_icon {
  width: 28px;
  height: 28px;
  padding: 7px;
  position: absolute;
  right: 3px;
  top: 2px;
  .close_img {
      width: 12px;
      height: 12px;
  }
}