@keyframes Spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes UD {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes aniFade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aniFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aniFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float_key {
  0% {
    -webkit-filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-filter: drop-shadow(0 20px 6px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 20px 6px rgba(0, 0, 0, 0.15));
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
