@import './personal-common.scss';

.style-titleHead {
  justify-content: space-between;

  .style-title {
    & > b {
      color: #333;
      font-size: 24px;
      font-weight: bold;
    }

    & > span {
      margin-left: 10px;
      font-size: 14px;
      color: #94a6b7;
    }
  }

  .style-modesTab {
    & > li {
      width: 120px;
      height: 40px;
      font-size: 14px;
      text-align: center;
      line-height: 1;
      display: flex;
      align-items: center;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #f0f3f7;
      background-color: #fff;
      color: #333;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      &.style-active {
        background-image: linear-gradient(to right, #f5e1ad 10%, #edc875 100%);
        background-color: transparent;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.02);
        color: #fff;
        border-left: none;
      }
    }
  }
}

.style-account {
  margin-top: 30px;
  justify-content: space-between;

  & > div {
    padding: 20px;
    width: 435px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #f0f3f7;
    color: #4b5e6f;
    background-color: #fff;
    justify-content: flex-start;
    position: relative;

    & > img {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }

    & > div {
      .style-title {
        margin-bottom: 2px;
        font-size: 14px;
        color: #4b5e6f;
      }

      & > div {
        color: #4b5e6f;

        .style-balance {
          font-size: 24px;
          color: #333;
          font-weight: bold;
          display: inline-block;
          max-width: 226px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          vertical-align: bottom;
        }

        .shuax {
          cursor: pointer;
          &.style-refreshing {
            animation: style-resfresh 0.4s;
          }
        }
      }
    }

    & > button {
      width: 90px;
      height: 28px;
      border-radius: 14px;
      position: absolute;
      top: 15px;
      right: 18px;
      font-size: 12px;
      line-height: 1;
    }
  }
}

.style-vnueTitle {
  color: #333;
  margin: 30px 0 10px;
  font-size: 14px;
}

.style-walletlist {
  display: flex;
  flex-wrap: wrap;
  max-height: 220px;
  transition: max-height 0.4s;
  overflow: hidden;

  &.normal {
    max-height: 380px;

    & > li {
      &.disable {
        background: #cccccc;
      }

      height: 90px;
      background: #ffffff;
      box-shadow: 0 1px 18px 0 rgba(211, 211, 211, 0.5);
      border-radius: 12px;
      border: 1px solid #d8dce7;

      .one-key-in {
        position: absolute;
        top: 14px;
        right: 10px;
        width: 65px;
        height: 28px;
        text-align: center;
        line-height: 1;
        border-radius: 6px;
        font-size: 12px;
        transition: none;
        color: #4b5e6f;
      }

      .ops {
        & > span {
          position: absolute;
          font-size: 12px;
          width: 44px;
          height: 28px;
          text-align: center;
          line-height: 1;
          border-radius: 6px;
          cursor: pointer;

          &:first-child {
            right: 58px;
            bottom: 7px;
          }

          &:last-child {
            right: 10px;
            bottom: 7px;
          }
        }
      }
    }
  }

  &.style-isShowMore {
    max-height: 1000px;
  }

  & > li {
    flex-shrink: 0;
    width: 210px;
    height: 119px;
    position: relative;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px;
    background-size: 210px 90px;
    color: #8290a8;
    box-shadow: 0 1px 18px 0 rgba(211, 211, 211, 0.5);
    border: 1px solid #d8dce7;

    .style-clientName {
      line-height: 14px;
      color: #333;
      font-size: 12px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    .style-money {
      & > i {
        color: #333;
        width: 90px;
        display: block;
        line-height: 1;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        font-size: 18px;
      }
    }
  }
}

.style-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 14px;
  color: #edc875;
  cursor: pointer;

  .style-down {
    &.down {
      transform: rotate(180deg);
    }
  }
}

.style-transfer-out {
  margin-top: 30px;

  .style-title {
    font-size: 14px;
    color: #333;
  }

  .style-transSelect {
    justify-content: flex-start;
    align-items: center;
  }

  .style-switchBtn {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 9px 10px;
    @include webp($base-img-dir + 'personal/transfer/sdqiaobao@2x.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .style-transNotice {
    padding-left: 20px;
    color: #8590a6;
    font-size: 14px;
  }

  .style-inputbox {
    .style-formControl {
      position: relative;
      width: 480px;
      height: 40px;

      & > input {
        border-radius: 6px;
        border: solid 1px #d8dce7;
        color: #333;
        background-color: #fff;
        width: 480px;
        height: 40px;
        font-weight: 600;
        padding: 0 20px;
        padding-right: 88px;
        font-size: 12px;

        &:hover {
          transition: all 0.3s ease;
          border: solid 1px #edc875;
        }

        &:focus {
          transition: background-color 0.2s ease, border 0.2s ease;
          border: solid 1px #edc875;
          box-shadow: 0 10px 20px 0 #fff4d8;
        }
      }

      .style-getMaxMoney {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: #4b5e6f;
        cursor: pointer;
      }
    }

    .ym-button {
      width: 196px;
      height: 40px;
      line-height: 1;
      font-size: 14px;
      margin-top: 0;
    }
  }
}

@keyframes style-resfresh {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
