$size1: 1px;
$size2: 2px;
$size4: 4px;
$size8: 8px;
$size9: 9px;
$size10: 10px;
$size11: 11px;
$size12: 12px;
$size13: 13px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size24: 24px;
$size26: 26px;
$size36: 36px;
$size44: 44px;
$size50: 50px;
$size52: 52px;
$size56: 56px;
$size66: 66px;
$size68: 68px;
