$color-red-1: red;
$color-red-2: #E00606;
$color-red-3: #E85043;
$color-red-4: #E8493B;

$col_black_1: #333333;

$color-blue-1:#597EF7;
$color-blue-2:#96AEFF;
$color-blue-3:#A5A7D0;
$color-blue-4:#59A2F7;

$color-white-1:#FFFFFF;
$color-white-2:#F5F8FF;
$color-white-3:#F6F6FB;
$color-white-4:#EDF2FC;
$color-white-5:#F0F3FC;
$color-white-6:#F7F8FA;

$color-gray-1:#9AA4C2;
$color-gray-2:#515B7C;
$color-gray-3:#7F89A7;
$color-gray-4:#EDEFF2;
$color-gray-5:#DEE2EF;
$color-gray-6:#D0D0E7;
$color-gray-7:#333333;
$color-gray-8:#707070;
$color-gray-9:#D6D7EC;
$color-gray-10:#DADBDD;
$color-gray-11:#C1C3C6;
$color-gray-12:#C5CBE0;


$col_gre_1:#DCFDD0;
$col_gre_2:#ADD89E

