.cg-table {
  .cg-table_body_item {
    min-height: 80px;
    padding: 10px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--cg-color-blue11);

    &>span {
      font-size: var(--cg-font-26);
      word-break: break-word;
    }

    // odd
    &:nth-child(even) {
      background-color: var(--cg-color-white);
    }
  }
}