@function link($url) {
  @return '~/assets/images/'+$url;
}

@mixin webp($url) {
  background-image: url(link($url));
  // @at-root .avif & {
  //   background-image: url(link($url) + '.avif');
  // }
  // @at-root .webp & {
  //   background-image: url(link($url) + '.webp');
  // }
}

// 隐藏滚动条
@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

// 切换字体粗细时引起的抖动
@mixin fixBoldShake {

  &::before {
    display: block;
    content: attr(data-name);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}


// http://ianlunn.github.io/Hover/
// 鼠标移入效果
@mixin overline-from-center($activeColor) {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 60px;
    background: $activeColor;
    height: 4px;
    border-radius: 2px;
    transition-property: left, right;
    transition-duration: .3s;
    transition-timing-function: ease-out
  }

  &:hover,
  &:focus,
  &:active {
    color: $activeColor;

    &:before {
      left: 0;
      right: 0;
    }
  }

  &.active {
    color: $activeColor;

    &:before {
      left: 0;
      right: 0;
    }
  }
}
