// 不要以bg开头，方便和uno.css结合
$color-primary: #3678FF;
$color-error: #FA0513;
$color-primary-second: #597EF7;
$color-black-primary: #333333;
$color-black-basic: #000000;
$border-color: #EBEBEB;
$card-border-color: #DFEAF6;
$text-primary: #515B7C;
$text-info: #94A6B7;
$jl-box-shadow: 0 10px 10px rgba(208, 217, 225, 0.2200);
$jl-font: PingFang SC, Microsoft YaHei, lucida grande, lucida sans unicode, lucida, helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
