:root {
  --el-border-color-base: var(--cg-color-blue8);
  --el-background-color-base: var(--cg-color-white5);
  --el-border-color-light: var(--cg-color-blue8);
}

.el-select {
  --el-select-border-color-hover: var(--cg-color-blue8);
  --el-select-input-focus-border-color: var(--cg-color-blue8);
}

.el-select-dropdown__item.selected {
  color: var(--cg-color-blue12);
}

.el-input {
  height: 38px;
  line-height: 38px;
  --el-input-hover-border: var(--cg-color-blue8);
  --el-input-focus-border: var(--cg-color-blue8);
}

.el-input__inner{
  height: 38px;
  line-height: 38px;
}

.el-icon-arrow-up {
  position: relative;

  &:before {
    position: absolute;
    content: '' !important;
    @include webp($base-img-dir + '/icon/i_arrow_up.png');
    display: inline-block;
    background-size: 100% 100%;
    width: 19px;
    height: 20px;
    top: -5px;
    right: 3px;
  }
}

.el-select-dropdown {
  box-shadow: 0px 3px 6px var(--cg-color-grey4);

  .el-select-dropdown__list {
    padding: 0;

    .el-select-dropdown__item {
      padding: 0 12px;
    }
  }
}

.el-input__icon {
  line-height: 10px !important;
}