.about {
  color: #fff;

  &-wp {
    margin: rem(30rem) rem(30rem);
  }

  &-logo {
    width: rem(152rem);
    height: rem(152rem);
    margin: rem(65rem) auto rem(20rem);
  }

  .title {
    margin: rem(100rem) auto rem(36rem);
    color: #f5e8c4;
    font-family: AppleSystemUIFontBold;
    font-size: rem(32rem);
    line-height: rem(34rem);
  }

  .license-list {
    display: flex;
    margin-bottom: rem(65rem);

    .license {
      width: 25%;
      font-size: rem(20rem);

      .img-box {
        width: rem(91rem);
        height: rem(91rem);
        // background-color: #f00;
        margin: 0 auto rem(19rem);
        @include webp($base-img-dir + 'about/licenses.png');
        background-size: rem(182rem) rem(182rem);
        background-position: 0 0;
      }

      .img-box {
        width: rem(91rem);
        height: rem(91rem);
        // background-color: #f00;
        margin: 0 auto rem(19rem);
        @include webp($base-img-dir + 'about/licenses.png');
        background-size: rem(182rem) rem(182rem);
        background-position: 0 0;
      }

      .img-box-MGA {
        background-position: rem(-91rem) 0;
      }

      .img-box-BVI {
        background-position: rem(-91rem) rem(-91rem);
      }

      .img-box-POGO {
        background-position: 0 rem(-91rem);
      }
    }
  }

  .video-box {
    border-radius: rem(30rem);
    border: rem(3rem) solid #fcefd5;
  }
}

ol {
  width: 100%;

  li {
    width: 100%;
    padding-bottom: rem(50rem);

    h6 {
      color: #F5E8C4;
      font-size: rem(26rem);
      padding-bottom: rem(10rem);
    }

    p {
      width: 100%;
      // padding-bottom: rem(10rem);
      line-height: rem(40rem);

      &:last-child {
        padding-bottom: 0;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}