@use 'sass:map';
.agent {
  height: calc(100% - 1rem);

  .join-btn {
    left: 50%;
    bottom: rem(220rem);
    transform: translate(-50%, -50%);
    width: 92%;
    padding: rem(32rem);
    border-radius: rem(10rem);
    //background: $theme-codeActive-color;
    color: map.get($colors, white);
  }

  .agent-icon {
    width: rem(64rem);
    height: rem(64rem);
    background: linear-gradient(145deg, #ffd694 0%, #d79220 55%, #fec971 100%);
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5);
    border-radius: 50%;
  }
}

.agent-slide {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f3f9fe;
  background-repeat: no-repeat;
  background-size: 100% 8rem;
  //.slide-title-img {
  //  display: block;
  //  height: rem(136rem);
  //  margin: auto;
  //  margin-top: rem(60rem);
  //}
  .agent-slide-title {
    width: rem(360rem);
    line-height: rem(60rem);
    margin: rem(10rem) auto 0;
    color: #e3a090;
  }

  .report-title {
    height: rem(66rem);
  }

  //h2 {
  //line-height: rem(32rem);
  //color: $theme-agh2-color;
  //}
}

.contact {
  //left: 50%;
  //top: 53%;
  //transform: translate(-50%, -50%);
  margin-top: rem(10rem);
  padding: 0 rem(28rem);

  //margin-top: rem(40rem);
  li {
    height: rem(132rem);
    background: #ffffff;
    box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
    border-radius: rem(16rem);
  }

  img {
    margin-right: rem(16rem);
    width: rem(100rem);
    height: rem(100rem);
  }
  &-icon {
    width: rem(80rem);
    height: rem(80rem);
    margin-right: rem(24rem);
    @include webp($base-img-dir + 'agent/agent-item.png');
    background-size: 100% auto;
    $icon: 0, 1, 2, 3, 4;
    @each $i in $icon {
      &.contact-icon#{$i} {
        background-position-y: rem($i * -80rem);
      }
    }
    &.contact-icon0 {
      background-position-y: rem(5rem);
    }
  }
  .copy {
    width: rem(22rem);
    height: rem(22rem);
    vertical-align: bottom;
  }

  &-way {
    width: rem(400rem);
    p {
      width: 100%;
      line-height: rem(30rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: rem(24rem);
      padding: rem(4rem) 0;
      color: $theme-txt-color12;
    }
  }

  &-btn {
    width: rem(146rem);
    line-height: rem(54rem);
    padding: 0 rem(10rem);
    color: #e3a090;
    border: rem(1rem) solid #e3a090;
    border-radius: rem(10rem);
  }
}

.van-swipe-item {
  color: #e3a090;
  font-size: rem(12rem);
  //line-height: rem(150rem);
  text-align: center;
  // background-color: #39a9ed;
}

.my-swipe {
  ::v-deep(.van-swipe__indicators) {
    position: absolute;
    bottom: rem(130rem);
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    .van-swipe__indicator {
      width: rem(12rem);
      height: rem(12rem);
      margin: 0 rem(5rem);
      border-radius: 50%;
      background: #c3c3c3;
      border: rem(1rem) solid #e6c981;
    }

    .van-swipe__indicator--active {
      background-color: #e6c981 !important;
      border-radius: rem(20rem);
    }
  }
}
