.bank {
  height: 100%;
  overflow: scroll;
  background-position: center 0rem;
  background-color: #1e1110;
  color: #fff;
  .main {
    height: calc(100% - 1rem);

    .mask {
      height: 100%;
      padding: rem(20rem) rem(25rem);
      background-color: rgba(0, 0, 0, 0.5);
      overflow-y: scroll;
    }
  }
  &-wp {
    // min-height: rem(600rem);
    // padding: rem(30rem);
    // background: #292828;
    box-shadow: 0px rem(8rem) rem(26rem) 0px $bg-rgba7;
    border-radius: rem(16rem);
    position: relative;
    ::v-deep(.van-tabs--line .van-tabs__wrap) {
      display: none;
      height: rem(88rem);
    }
    ::v-deep(.van-tabs__nav--line) {
      padding: 0;
    }
    ::v-deep(.van-tab) {
      line-height: rem(88rem);
    }
    ::v-deep(.van-tabs__line) {
      bottom: 0;
    }
    ::v-deep(.van-tab__text--ellipsis) {
      font-size: rem(28rem);
    }
  }
  .van-tab {
    color: $theme-tabtxt-color !important;
  }
  .van-tab--active {
    color: $theme-txt-color11;
  }
  &-tab {
    padding-top: 0;
  }
  &-pd {
    padding: 0;
  }
  &-default {
    width: rem(280rem);
    height: rem(280rem);
    display: block;
    margin: rem(20rem) auto;
  }

  .add-bank-btn {
    position: absolute;
    top: calc(100% + 0.3rem);
    width: 100%;

    .bank-add {
      width: 100%;
    }
  }
  &-add {
    margin: 0 auto;
    width: rem(640rem);
    height: rem(96rem);
    line-height: rem(96rem);
    border-radius: rem(50rem);
    color: #472f22;
    text-shadow: 0px 3px 6px #00000029;
    font-family: AppleSystemUIFontBold;
    background: transparent linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%) 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    span {
      font-size: rem(50rem);
      line-height: rem(59rem);
      padding-right: rem(10rem);
    }
    img {
      width: rem(80rem);
      height: rem(80rem);
    }
  }
  &-footer {
    margin: rem(24rem) 0;
    color: $theme-bankbot-color;
  }
  .bank-footer-tip {
    margin: rem(20rem) rem(28rem) 0;
    color: #a5a9b3;
    span {
      color: #e6c981;
    }
  }
}
.nav {
  .van-nav-bar__content {
    height: rem(30rem);
  }
}
.van-tab {
  color: $theme-tabtxt-color !important;
}
