@use "sass:map";
.dep-detail {
  height: 100%;
  overflow: scroll;
  background:#1E1110;
  background-position: center 0;
  color: #fff;
  .dep-content {
    padding: rem(36rem) 0 rem(44rem);
    p {
      text-align: center;
      line-height: rem(40rem);
      margin: rem(6rem) 0;
    }
    .server {
      color: #D7BC6E;
    }
  }
  .dep-form {
    margin: rem(30rem) rem(20rem) 0;
    padding: rem(30rem) rem(30rem) rem(10rem);
    background: #292828;
    border-radius: rem(10rem);
  }
  .sec-wp {
    margin: rem(20rem) rem(20rem) 0;
    padding: rem(20rem) rem(28rem);
    box-shadow: 0px rem(8rem) rem(26rem) 0px $bg-rgba7;
    border-radius: rem(16rem);
    background-color: #292828;
    .sec-title {
      margin: rem(0rem) 0;
      padding-left: rem(8rem);
      line-height: rem(50rem);
      color: #737373;
    }
    .bank-info {
      // margin-top: rem(38rem);
      li {
        margin-bottom: rem(15rem);
        line-height: rem(32rem);
        // color: #afb0ba;
        p,
        .remarks {
          font-size: rem(24rem);
          // color: #afb0ba;
        }
        .info-color {
          // color: #000;
        }
        .info-copy {
          font-size: rem(20rem);
          width: rem(122rem);
          height: rem(48rem);
          line-height: rem(48rem);
          color: #fff;
          text-align: center;
          border-radius: rem(8rem);
          padding: 0 rem(1rem);
          // background: linear-gradient(145deg, #f5e1ad 0%, #edc875 100%);
          background: #D7BC6E;
          border-radius: rem(8rem);
        }
        .icon-bank {
          display: inline-block;
          width: rem(126rem);
          height: rem(44rem);
          @include webp($base-img-dir + 'deposit/icon-bank.png');
          background-size: 100% 100%;
        }
      }
    }
    .bank-tip-list {
      li {
        line-height: rem(50rem);
        color: #737373;
        margin-top: rem(10rem);
        span {
          color: #D7BC6E;;
        }
      }
    }
    .manual-tips {
      padding: rem(10rem) 0;
      border-top: rem(1rem) solid #eee;
      color: red;
    }
  }
  .dep-form-item {
    margin-bottom: rem(25rem);
    // color: #737373;
    .dep-copy {
      display: inline-block;
      width: rem(32rem);
      height: rem(32rem);
      background: url(link($base-img-dir + 'account/icon-copy.svg')) no-repeat;
      background-size: 100% 100%;
    }
  }
  .dep-bot {
    width: 80%;
    margin: rem(20rem) auto;
    span {
      color: #D7BC6E;;
    }
  }
  .ym-dialog .ym-dialog-head {
    margin-bottom: rem(34rem);
  }
  .bank-dialog {
    .p {
      line-height: rem(40rem);
      color: $txt-c4;
      margin-bottom: rem(10rem);
      span {
        color: #D7BC6E;;
      }
    }
    .dep-detail-tip {
      color: $txt-c28;
    }
    button {
      margin: rem(34rem) 0 0 rem(194rem);
      width: rem(180rem);
      height: rem(70rem);
      line-height: rem(70rem);
      border-radius: rem(16rem);
      color: #fff;
      background-color: #D7BC6E;;
    }
  }
}
.ym-dialog {
  .cancel-btn-wp {
    margin-top: rem(46rem);
    span {
      padding: rem(10rem) rem(20rem) 0;
      line-height: rem(30rem);
      &.ym-btn-r {
        padding: rem(10rem) rem(40rem) 0;
      }
    }
  }
  .deposit-submit {
    padding: 0 rem(50rem);
    font-size: rem(16rem);
  }
}
