.deposit-view {
  padding: rem(20rem) rem(25rem);
  overflow: scroll;
  height: calc(100% - 1rem);
  // background: #1e1110;
  @include webp($base-img-dir + 'personal/personal-bg.png');
  background-size: cover;
  background-position: top center;
  .h-title {
    height: rem(90rem);
    font-size: rem(26rem);
    line-height: rem(90rem);
    color: #faeca2;
    padding-left: rem(30rem);
    font-family: AppleSystemUIFontBold;
    background: transparent linear-gradient(90deg, #472f22 0%, #674837 100%) 0% 0% no-repeat padding-box;
    .h-right {
      line-height: rem(22rem);
      color: $txt-c4;
      i {
        display: inline-block;
        vertical-align: sub;
        width: rem(32rem);
        height: rem(32rem);
        @include webp($base-img-dir + 'personal/icon-right-arrow.png');
        background-size: contain;
        transform: translateY(rem(2rem));
      }
    }
    .h-proto {
      span {
        width: rem(146rem);
      }
      line-height: rem(18rem);
    }
    //font-size: rem(28rem);
    //border-bottom: solid rem(2rem) $theme-bd-color;
  }

  .normal-title {
    font-size: rem(26rem);
    color: #fff;
    font-family: AppleSystemUIFontBold;
    margin-bottom: rem(25rem);
    text-transform: uppercase;
  }

  .h-name {
    border-bottom: rem(2rem) solid $bd-c1;
    font-size: rem(20rem);
    span {
      margin-right: rem(5rem);
      color: $theme-txt-color42;
    }
    input {
      margin-left: rem(30rem);
      font-weight: initial;
    }
  }
  .sec-bg {
    background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
    border-radius: rem(30rem);
    border: rem(2rem) solid #f5e8c4;
    color: #fff;
    overflow: hidden;

    .item-list {
      padding: rem(23rem) rem(55rem) 0;

      .type-item {
        margin: 0 auto;
        background: transparent linear-gradient(132deg, #291717 0%, #472f22 100%) 0% 0% no-repeat padding-box;
        border: rem(1rem) solid #674837;
        border-radius: rem(10rem);
        width: rem(170rem);
        height: rem(150rem);
        font-family: AppleSystemUIFontBold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
          box-shadow: 0px 0px rem(10rem) #faeca2;
          border: rem(2rem) solid #faeca2;
          background: transparent linear-gradient(132deg, #472f22 0%, #765c28 100%) 0% 0% no-repeat padding-box;
        }

        .type-icon {
          width: rem(80rem);
          height: rem(80rem);
          margin: 0;
        }

        .t-name {
          margin-top: rem(9rem);
        }
      }
    }
  }
  .select-wp {
    // width: rem(642rem);
    height: rem(80rem);
    padding: 0 rem(28rem) 0 rem(26rem);
    border-radius: rem(50rem);
    border: rem(1rem) solid #ffffff99;
    span {
      color: #afb0ba;
      &.bank-name {
        color: #fff;
      }
      &.icon-bank {
        margin-right: rem(38rem);
      }
    }
    img {
      width: rem(32rem);
      height: rem(32rem);
    }
  }
  .amount-pd {
    // padding: 0 rem(28rem) rem(18rem);
    padding: rem(30rem) rem(28rem);
  }

  .amount-list {
    // padding: rem(30rem) rem(28rem);
  }

  .pro-bg {
    padding: 0 rem(28rem) rem(22rem);
  }
  // .type-list-wp {
  //   padding: 0 rem(30rem) rem(14rem);
  // }
  .promo-tip {
    margin-top: rem(12rem);
    color: $theme-txt-color16;
  }
  .color0 {
    color: #000;
  }
  @mixin step() {
    height: rem(56rem);
    padding: rem(10rem) rem(20rem) 0;
    line-height: rem(20rem);
    color: $txt-c3;
    font-size: rem(16rem);
    color: #000;
    background-size: 100% 100%;
  }
  .step-1 {
    width: rem(228rem);
    // background: url(imgUrl('deposit/step-bg-1.webp')) center no-repeat;
    background: url(link($base-img-dir + 'deposit/step-bg-1.webp')) no-repeat;
    @include step();
  }
  .step-2 {
    width: rem(294rem);
    // background: url(imgUrl('deposit/step-bg-2.webp')) center no-repeat;
    background: url(link($base-img-dir + 'deposit/step-bg-2.webp')) no-repeat;
    @include step();
  }
  .step-3 {
    width: rem(128rem);
    // background: url(imgUrl('deposit/step-bg-3.webp')) center no-repeat;
    background: url(link($base-img-dir + 'deposit/step-bg-3.webp')) no-repeat;
    @include step();
  }
  .check-box-wp {
    //padding: rem(20rem) 0;
    //&[len='1']::after {
    //  content: '';
    //  width: rem(336rem);
    //}
    //&[len='2']::after {
    //  content: '';
    //  width: rem(158rem);
    //}
  }
  .amount-disable {
    .van-col:first-child {
      .amount-item {
        background: $theme-bg-color29;
      }
    }
  }

  .check-box-item {
    width: rem(200rem);
    height: rem(72rem);
    border-radius: rem(10rem);
    margin-bottom: rem(20rem);
    background: transparent linear-gradient(110deg, #291717 0%, #472f22 100%) 0% 0% no-repeat padding-box;
    border: rem(1rem) solid #674837;
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: rem(24rem);
    font-family: AppleSystemUIFontBold;

    &:last-child {
      font-size: rem(20rem);
    }

    &.active {
      border: solid rem(2rem) #faeca2;
      box-shadow: 0px 0px 10px #faeca2;
      background: transparent linear-gradient(110deg, #472f22 0%, #765c28 100%) 0% 0% no-repeat padding-box;
      &::after {
        width: rem(32rem);
        height: rem(32rem);
        content: '';
        background: url(link($base-img-dir + 'icon-checked.svg')) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: rem(-2rem);
        bottom: rem(-2rem);
        z-index: 2;
      }
    }
    &.disabled {
      background-color: #9c9c9c;
      border: none;
      color: #afb0ba;
      &::after {
        display: none;
      }
    }
  }
  .usdt-des {
    color: #8590a6;
  }
  .proto-item {
    width: rem(286rem);
  }
  .bank-swipe {
    margin-top: rem(26rem);
    height: rem(320rem);
    &.bank-swipe-h {
      height: rem(360rem);
    }
    .van-swipe__indicators {
      position: absolute;
      bottom: rem(0rem);
      left: 50%;
      display: flex;
      transform: translateX(-50%);

      .van-swipe__indicator {
        border-color: #d8d8d8;
        width: rem(16rem);
        height: rem(16rem);
        margin: 0 rem(5rem);
        border-radius: 50%;
        background: #d8d8d8;
        border: rem(1rem) solid #d8d8d8;
        opacity: 1;
      }

      .van-swipe__indicator--active {
        width: rem(16rem);
        background-color: #e6c981 !important;
        border-radius: rem(20rem);
        border: rem(1rem) solid #e6c981;
      }
    }
  }
  .offline-tip {
    position: relative;
    padding-left: rem(44rem);
    color: #ff0000;
  }
  .offline-warning {
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: bottom;
    width: rem(32rem);
    height: rem(32rem);
    @include webp($base-img-dir + 'withdraw/icon-warning.png');
    background-size: 100% 100%;
  }
  .bank-swipe-item {
    margin: 0 auto;
    position: relative;
    width: rem(642rem);
    height: rem(298rem);
    padding: rem(22rem) rem(26rem) rem(25rem) rem(30rem);

    @include webp($base-img-dir + 'deposit/bank_grey.png');
    background-size: 100% 100%;
    box-shadow: 0px 4px 16px 0px rgba(228, 228, 228, 1);
    border-radius: 16px;
    &.active {
      @include webp($base-img-dir + 'deposit/bank_golden.png');
      background-size: 100% 100%;
    }
    .van-swipe-item {
      height: 100%;
    }
    .item-row {
      font-size: rem(20rem);
      color: #431000;
      margin-bottom: rem(12rem);
      p {
        line-height: rem(28rem);
      }
      .limit-remark {
        width: rem(140rem);
      }
      .txt-ellipsis {
        white-space: nowrap;
        padding-right: rem(20rem);
      }
      .item-copy {
        width: rem(94rem);
        color: #d7bc6e;
      }
    }
    .check-bank {
      width: rem(40rem);
      height: rem(40rem);
      @include webp($base-img-dir + 'icon-checked.png');
      background-size: 100% 100%;
      position: absolute;
      right: rem(2rem);
      bottom: rem(0rem);
      z-index: 2;
    }
  }
  .amount-item-des {
    color: $txt-c4;
  }
  .proto-title {
    img {
      margin-right: rem(20rem);
      vertical-align: text-bottom;
      width: rem(28rem);
      height: rem(28rem);
    }
  }

  // .other-amount {
  //   // transform: scale(0.7);
  // }
  .other-amount-range {
    font-family: AppleSystemUIFontRegular;
    color: $txt-c4;
    color: #fcefd5;
  }
  // .other-amount {
  //   color: #fff;
  // }
  .ipt-other-amount-wp {
    height: rem(60rem);
    &::before {
      content: '';
      width: rem(28rem);
      height: rem(28rem);
      // background: url(imgUrl('icon-money.png')) no-repeat center / 100%;
      background: url(link($base-img-dir + 'icon-money.png')) no-repeat center / 100%;
    }
  }
  .ipt-other-amount {
    font-size: rem(46rem);
  }
  .exchange-rate-tip {
    color: $txt-c4;
    // padding: 0 0 rem(20rem) 0;
  }
  .daike-tip {
    margin: rem(20rem) auto;
    color: $txt-c4;
  }
  .tip-sec {
    padding: rem(10rem) rem(28rem) rem(28rem);
  }
  .deposit-promo {
    color: $theme-txt-color34;
    .ques {
      position: absolute;
      right: rem(-10rem);
      top: rem(-26rem);
      vertical-align: bottom;
    }
  }
  .received-money-tip {
    // color: $txt-c4;
    font-size: rem(26rem);
    font-weight: AppleSystemUIFontRegular;
    color: #fff;
    padding: 0 rem(20rem);
  }
  .usdt-num {
    color: #ff0000;
  }
  .btn-wp {
    padding: rem(40rem) 0;
  }
  .deposit-btn {
    background-color: #4080ff;
    color: $txt-c2;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }

  .deposit-help {
    color: #fff;
    font-size: rem(24rem);
    font-family: AppleSystemUIFontRegular;

    a {
      margin: 0 rem(10rem);
      color: #fcde9e;
      border-bottom: rem(1rem) solid #fcde9e;
    }
  }

  .first-deposit-help {
    margin-top: rem(27rem);
    margin-bottom: rem(24rem);
  }

  .transfer-money-tip {
    text-indent: 0;
    line-height: rem(80rem);
  }

  .desc-wp {
    margin: 15% auto 0;
    width: rem(672rem);
  }
  .desc-cont {
    background-color: $txt-c2;
    border-radius: rem(16rem);
    padding: rem(32rem) rem(28rem) rem(32rem) rem(30rem);
    background-clip: padding-box;
  }
  .desc-head {
    margin-bottom: rem(28rem);
    line-height: rem(60rem);
    font-weight: 600;
    color: $txt-c3;
  }
  .desc-body {
    overflow: auto;
    p {
      margin: rem(20rem) 0;
      line-height: rem(34rem);
      height: rem(34rem);
      color: $txt-c16;
    }
    .cls-pop {
      width: rem(180rem);
      margin: rem(60rem) auto 0;
      line-height: rem(70rem);
      color: #fff;
      background: #d7bc6e;
      border-radius: rem(16rem);
    }
  }
  table,
  tbody {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    width: 100%;
  }
  table {
    tr {
      // height: rem(68rem);
      &.active {
        background: $bg-c21;
      }
    }
    th,
    td {
      width: 28%;
      border: rem(2rem) solid $bd-c9;
    }
    th {
      color: $txt-c3;
      padding: 0 rem(20rem);
      line-height: rem(36rem);
      border: rem(2rem) solid $bd-c9;
      &:nth-child(2) {
        padding: 0;
      }
    }
    td {
      color: $txt-c30;
      font-size: rem(24rem);
      border-bottom: rem(2rem) solid $bd-c9;
      border-right: rem(2rem) solid $bd-c9;
      &:first-child {
        font-weight: 700;
        color: $txt-c3;
        border: rem(2rem) solid $bd-c9;
        border-top: none;
      }
    }
    tbody {
      tr td {
        line-height: rem(50rem);
      }
    }
  }
  .recharge {
    padding: rem(38rem) rem(62rem) rem(62rem);
    h3 {
      color: $txt-c3;
    }
    h5 {
      color: $txt-c3;
    }
    p {
      font-size: rem(20rem);
      margin-top: rem(20rem);
      // letter-spacing: rem(2rem);
      // color: #afb0ba;
      // font-size: rem(28rem);
      // span {
      //   color: $txt-c28;
      // }
    }
  }
  .recharge-code {
    margin: rem(24rem) 0;
    line-height: rem(66rem);
    span {
      font-size: rem(48rem);
      color: #d7bc6e;
      margin-right: rem(30rem);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .bank-dialog {
    .bank-tip {
      line-height: rem(40rem);
      color: $txt-c28;
    }
    .dep-btn {
      margin-top: rem(40rem);
    }
  }
  .ipt-amount-wp {
    height: rem(80rem);
    border: rem(1rem) solid #ffffff99;
    border-radius: rem(50rem);
    padding: rem(10rem);
    margin-bottom: rem(20rem);

    .currency {
      width: rem(60rem);
      height: rem(60rem);
      margin-right: rem(30rem);
      border-radius: 50%;
      @include webp($base-img-dir + '/home/dun-user.png');
      background-size: rem(120rem) rem(60rem);
    }

    .fake-input-container {
      position: relative;
    }
    .fake-input-placeholder {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: left;
      color: #6d6c6c !important;
      transform: translateY(-50%);
    }
    .fake-input.focus::before {
      content: ' ';
    }
    .fake-input.focus::after {
      position: static;
      content: ' ';
      border-right: 1.5px solid $theme-bd-color21;
      right: 1.5px;
      top: 10%;
      height: 80%;
      animation: keyboard-cursor infinite 1s step-start;
    }
    .fake-input {
      font-size: 0.46rem;
      font-family: DinPro;
      font-weight: 700;
      position: relative;
    }
  }
  .deposit-nodata {
    width: rem(392rem);
    color: #757575;
    p {
      line-height: rem(56rem);
    }
    a {
      margin-left: rem(10rem);
      color: #d6aa59;
    }
  }
}
.ym-dialog {
  .phone-bind-wp {
    span {
      padding: rem(10rem) rem(20rem) 0;
      line-height: rem(30rem);
      &.ym-btn-r {
        padding: rem(10rem) rem(40rem) 0;
      }
    }
  }
  .deposit-submit {
    padding: 0 rem(50rem);
    font-size: rem(16rem);
  }
}
