.dep-detail {
  height: 100%;
  overflow: scroll;
  background: #1e1110;
  color: #fff;
  background-position: center 0;
  .sec-wp {
    // margin: rem(20rem) rem(20rem) 0;
    padding: rem(40rem) rem(28rem);
    border-radius: rem(30rem);
    // background-color: #292828;
    background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
    .sec-title {
      margin: rem(0rem) 0;
      padding-left: rem(8rem);
      line-height: rem(50rem);
      color: #737373;
    }
  }
  .dep-content {
    padding: rem(50rem) rem(30rem);
    p {
      text-align: center;
      line-height: rem(40rem);
      margin: rem(6rem) 0;
      &.countdown {
        margin: rem(20rem) auto rem(40rem);
        color: #fce905;
        font-size: rem(60rem);
        font-family: AppleSystemUIFontBold;
      }
    }
    .usdt-tip {
      padding: 0 rem(18rem);
      text-transform: capitalize;
      // padding: 0 rem(40rem) 0 rem(72rem);
    }

    .server {
      color: #d7bc6e;
    }
    .qrcode_bg {
      margin: 0 auto rem(36rem);
      width: rem(300rem);
      height: rem(300rem);
      background-color: #fff;
      border-radius: rem(10rem);
      overflow: hidden;

      img {
        width: rem(270rem);
        height: rem(270rem);
      }
    }
    .address-wp {
      padding-top: rem(20rem);

      .label {
        font-size: rem(24rem);
        text-transform: capitalize;
        padding-left: rem(10rem);
      }

      .address-limit {
        margin-top: rem(15rem);
        border: 1px solid #ffffff99;
        height: rem(74rem);
        line-height: rem(72rem);
        border-radius: rem(40rem);
        display: flex;
        align-items: center;
        padding: 0 rem(27rem);
      }

      .app-qrcode {
        // padding-top: rem(12rem);
        color: #fff;
        font-size: rem(24rem);
      }
    }
  }
  .dep-form {
    margin-top: rem(30rem);
    // margin: rem(30rem) rem(20rem) 0;
    padding: rem(40rem) rem(30rem);
    background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
    border-radius: rem(30rem);
  }

  .dep-form-item {
    margin-bottom: rem(20rem);

    span:last-child {
      text-transform: capitalize;
      font-size: rem(24rem);
      font-family: AppleSystemUIFontBold;
    }

    .amount {
      color: #fce905;
      font-size: rem(24rem);
      font-family: AppleSystemUIFontBold;
    }

    .title {
      font-size: rem(26rem);
      text-transform: uppercase;
      font-family: AppleSystemUIFontBold;
      margin-bottom: rem(16rem);
    }

    .code-wp {
      position: relative;
      width: 100%;
      border: rem(1rem) solid #ffffff99;
      height: rem(74rem);
      line-height: rem(72rem);
      border-radius: rem(40rem);
      padding-left: rem(20rem);
      display: flex;
      align-items: center;

      input::placeholder {
        text-transform: capitalize;
      }

      p {
        position: absolute;
        font-size: rem(20rem);
        text-align: center;
        z-index: 1;
        color: #737373;
        padding: rem(2rem) rem(24rem) 0 rem(30rem);
      }
    }
    .code-ipt {
      height: rem(68rem);
      position: absolute;
      background-color: transparent;
      z-index: 2;
      text-align: left;
      padding: 0 10px;
      color: #fff;
    }
  }
  .dep-copy {
    width: rem(122rem);
    height: rem(48rem);
    line-height: rem(45rem);
    border-radius: rem(8rem);
    color: #fff;
    background: linear-gradient(180deg, #e1d5b0 0%, #d7bc6e 100%);
    border-radius: rem(8rem);
  }
  .usdt-address {
    margin-right: rem(10rem);
    flex: 1;
    word-break: break-all;
    color: #0fc2d3;
  }
  .bot-tips {
    padding: 0 rem(40rem);
    color: #d71a09;
    font-family: AppleSystemUIFontRegular;
    font-size: rem(24rem);
    line-height: rem(34rem);
  }
  .dep-bot {
    margin: rem(20rem) auto rem(50rem);
    height: rem(96rem);
    line-height: rem(96rem);
    background: linear-gradient(to right, #f5e8c4 0%, #e3bb83 100%);
    border-radius: rem(50rem);
    color: #fff;
    color: #674837;
    text-shadow: 0px 3px 6px #472f2280;
    text-transform: uppercase;
    font-family: AppleSystemUIFontBold;
    opacity: 0.5;
    &.ischecked {
      opacity: 1;
    }
  }
  .ym-dialog .ym-dialog-head {
    margin-bottom: rem(34rem);
  }
}
.ym-dialog {
  .cancel-btn-wp {
    margin-top: rem(46rem);
    span {
      padding: rem(10rem) rem(20rem) 0;
      line-height: rem(30rem);
      &.ym-btn-r {
        padding: rem(10rem) rem(40rem) 0;
      }
    }
  }
  .deposit-submit {
    padding: 0 rem(50rem);
    font-size: rem(16rem);
  }
}
.usdt-dialog {
  &-t {
    padding: rem(22rem) 0 rem(22rem);
    color: #000000;
  }
  &-des {
    margin-bottom: rem(44rem);
    padding: 0 rem(44rem);
    color: #000000;
  }
  &-bot {
    border-top: rem(1rem) solid #eaeaea;
    div {
      line-height: rem(104rem);
    }
    .usdt-btn-l {
      border-right: rem(1rem) solid #eaeaea;
    }
    .usdt-btn-r {
      color: #d7bc6e;
    }
  }
}
.usdt-pop {
  z-index: 1000;
}
