.egm {
  &-tab {
    top: rem(80rem);
    z-index: 9;
    background: map.get($colors, white);
    border-top: rem(1rem) solid $theme-bd-color;
    li {
      color: #697b8c;
      height: rem(100rem);
      &.active {
        position: relative;
        color: $theme-txt-color31;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: rem(88rem);
          height: rem(2rem);
          background-color: $theme-txt-color31;
        }
      }
    }
  }
  &-list-wp {
    margin-top: rem(20rem);
  }
  &-list-fix {
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: rem(120rem);
  }
  &-list-por {
    padding-bottom: rem(250rem);
    overflow: auto;
  }
  &-list {
    padding: 0 rem(22rem);
    .egm-item {
      width: rem(344rem);
      margin-bottom: rem(24rem);
      box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
      border: 1px solid #8c7033;
      border-radius: rem(20rem);
      overflow: hidden;
      text-align: center;
    }
    .egm-title {
      height: rem(56rem);
      padding: 0 rem(26rem) 0 rem(24rem);
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      border-bottom-left-radius: rem(20rem);
      border-bottom-right-radius: rem(20rem);
      border-top: 1px solid #8c7033;
      // border-image: linear-gradient(to bottom,#cec4a8,,) 1 10;
      font-size: rem(20rem);
      span {
        display: inline-block;
        // width: rem(240rem);
        color: #afb0ba;
      }
      i {
        display: block;
        width: rem(40rem);
        height: rem(40rem);
        @include webp($base-img-dir + 'favorites.png');
        background-size: 100% 100%;
        &.active {
          @include webp($base-img-dir + 'favorites-active.png');
          background-size: 100% 100%;
        }
      }
    }
  }
  .search-bar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 200;
    overflow: scroll;
    color: #fff;
    @include webp($base-img-dir + 'egame/egame_qpbg.png');
    background-size: 100% 100%;

    .search {
      background: transparent linear-gradient(90deg, #674837 0%, #1e120f 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
      width: 100%;
      height: rem(100rem);
      padding: 0 rem(26rem);

      .search-icon {
        width: rem(60rem);
        left: rem(45rem);
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        width: rem(546rem);
        height: rem(76rem);
        background: #1e120f;
        border-radius: rem(40rem);
        font-size: rem(26rem);
        padding-left: rem(90rem);
        line-height: rem(76rem);
        font-weight: bold;
        color: #fff;
      }
      button {
        background-color: transparent;
        font-size: rem(32rem);
        font-weight: 500;
        color: #fcde9e;
        text-transform: uppercase;
      }
    }
    .tip {
      color: #afb0ba;
      font-size: rem(24rem);
      margin-top: 22px;
      padding: 0 20px;
    }
  }
}
