$base-url: '/assets/blue/kok/entry/';

.entry-page {
  //@include webp('/assets/qiuxin/kok/entry/entry-bg-common.png');
  //background-size: 100% auto;
  //background-position: top center;
  overflow: scroll;
  .entry-page-logo-container {
    margin-bottom: rem(40rem);
    z-index: 666;
    .entry-page-logo {
      height: rem(100rem);
      background-size: cover;
      width: rem(300rem);
      margin: 0 auto;
      @include webp('/assets/blue/kok/entry/kok-logo.png');
    }
  }
  .entry-page-sponsor-group-text {
    width: rem(440rem);
    margin: 0 auto;
    margin-bottom: rem(20rem);
    .sponsor-group-line {
      flex: 1;
      height: rem(1rem);
      background: $theme-entry-sponsor-line-bg;
      width: rem(132rem);
      opacity: 0.5;
    }
    .sponsor-group-title {
      font-size: rem(26rem);
      margin: 0 rem(40rem);
      color: $theme-entry-sponsor-title;
    }
  }
  .entry-page-sponsor-group {
    width: rem(600rem);
    height: rem(160rem);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: rem(80rem);
    @include webp($base-url + 'kok.png');
  }
  .entry-page-main {
    flex-flow: row nowrap;
    transition: left 0.5s ease-in-out;
    width: 200vw;
  }
  .entry-page-fromcontainer {
    flex-flow: row nowrap;
    width: rem(702rem);
    border: none;
    margin: 0 auto;
    border-radius: rem(20rem);
    padding-bottom: rem(20rem);
  }
  .location-to-right {
    flex: 0 0 rem(100rem);
    border-radius: 0 rem(20rem) rem(20rem) 0;
    background-color: $theme-entry-to-right-button-bg;
    .link-icon {
      @include webp($base-url + 'icon-entry-toggle-register.png');
      background-size: contain;
    }
  }
  .location-to-left {
    flex: 0 0 rem(100rem);
    border-radius: rem(20rem) 0 0 rem(20rem);
    background-color: $theme-entry-to-left-button-bg;
    .link-icon {
      @include webp($base-url + 'icon-entry-toggle-login.png');
      background-size: contain;
    }
  }
  .location-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .link-text {
    text-align: center;
    span {
      display: block;
      line-height: rem(40rem);
      font-size: rem(28rem);
      color: $theme-entry-right-left-button-txt;
      font-weight: 600;
    }
  }
  .link-icon {
    width: rem(48rem);
    height: rem(48rem);
    margin: 0 auto rem(20rem);
  }
  .entry-page-formcontainer-content.register {
    border-radius: 0 rem(20rem) rem(20rem) 0;
    background-color: $theme-entry-register-bg;
    .van-cell {
      background-color: $theme-entry-register-input-bg;
    }
    .formcontainer-title {
      padding: rem(40rem) 0 rem(30rem);
    }
  }
  .entry-page-formcontainer-content {
    border-radius: rem(20rem) 0 0 rem(20rem);
    background-color: $theme-entry-login-bg;
    padding: 0 rem(40rem) rem(76rem);
    flex: 1;
    .formcontainer-title {
      line-height: rem(50rem);
      padding: rem(48rem) 0 rem(120rem) 0;
      text-align: center;
      font-size: rem(36rem);
      color: $theme-entry-title;
      font-weight: 600;
    }
    .van-cell {
      width: rem(520rem);
      height: rem(90rem);
      padding: 0 rem(30rem);
      margin-bottom: rem(20rem);
      border-radius: rem(45rem);
      background-color: $theme-entry-login-input-bg;
      align-items: center;
      .van-field__control {
        color: $theme-txt-color10;
        border: none;
        outline: none;
        font-size: rem(28rem);
        height: rem(80rem);
      }
      input::-webkit-input-placeholder {
        color: $theme-txt-color10;
      }
      input:focus::-webkit-input-placeholder {
        color: $theme-entry-input-focus-placeholder;
      }
      .van-icon {
        font-size: rem(32rem);
      }
    }
    .van-cell::after {
      display: none;
    }
    .username-left-icon {
      @include webp($base-url + 'icon-entry-user.png');
      background-size: contain;
    }
    .password-left-icon {
      @include webp($base-url + 'icon-entry-password.png');
      background-size: contain;
    }
    .code-left-icon {
      @include webp($base-url + 'icon-entry-verify.png');
      background-size: contain;
    }
    .password-right-icon {
      width: rem(32rem);
      height: rem(120rem);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0;
    }
    .password-right-icon.password {
      @include webp($base-url + 'entry/logo.png');
    }
    .password-right-icon.text {
      @include webp($base-url + 'entry/logo.png');
    }
    .password-right-icon.show-right-button {
      opacity: 1;
    }
    .left-icon {
      width: rem(40rem);
      height: rem(40rem);
      margin-right: rem(20rem);
    }
    .about-password {
      padding: 0 rem(30rem);
      margin-bottom: rem(40rem);
      font-size: rem(20rem);
      color: $theme-entry-forget-password;
      .remember-me-turn-on {
        display: inline-block;
        width: rem(32rem);
        height: rem(32rem);
        margin-right: rem(9rem);
        @include webp($base-url + 'icon-checkbox-checked.png');
        background-size: contain;
      }
      .remember-me-turn-off {
        display: inline-block;
        width: rem(32rem);
        height: rem(32rem);
        margin-right: rem(9rem);
        @include webp($base-url + 'icon-checkbox-normal.png');
        background-size: contain;
      }
      span {
        font-size: rem(20rem);
      }
    }
    .van-button {
      background: $theme-entry-button-bg;
      width: 100%;
      height: rem(90rem);
      line-height: rem(90rem);
      border: none;
      border-radius: rem(45rem);
      font-size: rem(32rem);
      font-weight: bold;
      color: $theme-entry-button-txt;
    }
    .visitor-btn {
      margin-top: rem(30rem);
      text-align: center;
      line-height: rem(34rem);
      a {
        font-size: rem(24rem);
        color: $theme-entry-visitor-btn-txt;
      }
    }
  }
  .captcha {
    width: rem(160rem);
    height: rem(60rem);
  }
  .van-field__right-icon {
    display: flex;
    align-items: center;
  }
  .verity-tips {
    padding-left: rem(30rem);
    margin-bottom: rem(20rem);
    flex-wrap: nowrap;
    display: none;
    span {
      display: block;
      width: rem(24rem);
      height: rem(24rem);
      margin-right: rem(10rem);
      @include webp($base-url + 'icon-tips.png');
      background-size: 100%;
      background-repeat: no-repeat;
      flex-grow: 0;
      flex-shrink: 0;
    }
    p {
      font-size: rem(20rem);
      color: #fff;
    }
  }
  .verity-tips.error {
    span {
      @include webp($base-url + 'icon-tips-error.png');
    }
    p {
      color: #db6372;
    }
  }
}
