@use "sass:map";
.question {
  &-des {
    textarea {
      height: rem(478rem);
      //padding: rem(30rem);
      outline: none;
    }

    &-length {
      right: rem(20rem);
      bottom: rem(20rem);
      color: $theme-txt-color17;
    }
  }

  &-upload {
    height: rem(228rem);
    padding: rem(40rem) 0 rem(20rem);
    background: map.get($colors, white);
  }

  &-sel {
    color: $theme-txt-color9;
    //font-size: rem(32rem);
  }
}

.upload-wrap {
  height: rem(140rem);
}

.upload-num {
  top: 0;
  right: 0;
}

.upload-item {
  display: inline-block;
  margin-right: rem(40rem);
  height: rem(100rem);
  width: rem(100rem);

  img {
    height: rem(100rem);
    width: rem(100rem);
  }

  span {
    top: rem(-18rem);
    right: rem(-18rem);
    display: block;
    width: rem(26rem);
    height: rem(26rem);
    border-radius: 50%;
    background: $theme-txt-color11;
    color: map.get($colors, white);
    line-height: rem(24rem);
  }
}

.van-field__word-limit,
.upload-num {
  color: #afb0ba;
}

.upload-tip {
  color: $theme-txt-color9;
  padding-bottom: rem(20rem);
  position: absolute;
  transform: translateY(rem(-30rem));
}

.preview-cover {
  // position: absolute;
  width: rem(60rem);
  height: rem(60rem);
  background-image: url('/yiy-h5/assets/golden/kok/feedback/upload.png');
  background-size: 100% 100%;
}

.question-title {
  //padding-left: rem(28rem);
  height: rem(92rem);
  line-height: rem(90rem);
  border-bottom: 1px solid #f2f2f2;
  color: #000;

  span {
    margin-left: rem(8rem);
    color: #afb0ba;
  }
}

span {
  $icons: 'cunkuan', 'qukuan', 'youxi', 'youhui', 'wangzhan', 'xiugai', 'liushui', 'qita';

  @each $i in $icons {
    &.icon-#{$i} {
      // @include webp($base-img-dir + 'feedback/'+ $i + '.png');
      background-image: url('/yiy-h5/assets/blue/kok/' + 'feedback/' + $i + '.png');
      background-size: 100%;
    }
  }
}
.fd-list {
  .fd-shadow {
    background: #ffffff;
    box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
    border-radius: rem(16rem);
  }
  .fd-item {
    height: rem(162rem);
    padding: 0 rem(18rem) 0 rem(24rem);
  }
  .fd-icon {
    margin-right: rem(28rem);
    width: rem(48rem);
    height: rem(48rem);
  }
  .fd-title {
    margin-bottom: rem(4rem);
    line-height: rem(40rem);
    color: #000;
  }
  .fd-des {
    line-height: rem(34rem);
    color: #afb0ba;
    white-space: nowrap;
  }
  .fd-date {
    color: #afb0ba;
  }
  .fd-wp {
    padding: 0 rem(32rem);
    .fd-icon {
      margin-right: rem(20rem);
    }
  }
  .fd-top {
    height: rem(92rem);
    border-bottom: rem(2rem) solid #f2f2f2;
  }
  .fd-cont {
    padding: rem(22rem) rem(32rem) rem(34rem);
    img {
      margin: rem(40rem) 0;
      width: rem(224rem);
      height: rem(198rem);
    }
  }
  .fd-text {
    color: #afb0ba;
  }
}
