.c-wp {
  // height: 90vh;
  overflow: scroll;
  padding: rem(60rem) rem(40rem);
  color: #fff;

  h5 {
    font-size: rem(28rem);
    color: $txt-c1;
    font-weight: inherit;

    &.fw-b {
      font-weight: bold;
    }
  }

  .txt-red {
    color: $txt-c5;
  }

  p {
    &.pd-l {
      text-indent: 0.5em;
    }
  }
}

.help-r {
  color: $txt-c2;
}

table {
  td {
    text-align: center;
    border: rem(2rem) solid $txt-c3;
  }

  &.reality {
    td {
      text-align: left;
    }
  }
}