.member-list {
  background-color: #1e1110;
  color: #fff;

  .list-wp {
    height: calc(100vh - 2rem);
    overflow-y: scroll;
  }

  .member-table {
    margin: rem(20rem) 0 rem(28rem);
    color: #fff;
    padding: rem(29rem) rem(33rem) rem(33rem);
    border-color: #f5e8c4;

    .title1,
    .title2 {
      font-size: rem(26rem);
      margin: 0 0 rem(10rem) rem(5rem);
      color: #F5E8C4;
      font-weight: bold;
    }

    .title2 {
      margin-top: rem(19rem);
    }

    .rate-wp,
    .o-rate-wp {
      // padding: 0 0 rem(20rem);

      border-bottom: rem(1rem) solid #707070;
      display: flex;
      flex-direction: column;
      height: rem(180rem);
      flex-wrap: wrap;

      .rate-item {
        padding: 0 rem(40rem) 0 rem(30rem);
        min-height: rem(38rem);
        line-height: rem(38rem);
        width: 50%;
        flex-shrink: 0;
        // flex: 0.2;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-right: rem(50rem);
        font-family: AppleSystemUIFontRegular;
        font-size: rem(24rem);

        .value {
          font-family: AppleSystemUIFontBold;
          color: #f5e8c4;
          width: rem(50rem);
        }
      }
    }

    .rate-wp {
      .rate-item:nth-child(-n + 4) {
        border-right: rem(1rem) solid #707070;
      }
    }

    .o-rate-wp {
      height: rem(100rem);

      .rate-item:first-child {
        border-right: rem(1rem) solid #707070;
      }
    }

    .link-item {
      // padding: rem(20rem) 0;
      margin-bottom: rem(30rem);
      font-size: rem(24rem);

      .link-label {
        padding: rem(25rem) 0 rem(20rem);
        text-transform: capitalize;
      }

      .link {
        padding: rem(20rem) rem(27rem);
        min-height: rem(74rem);
        line-height: rem(30rem);
        border-radius: rem(37rem);
        background: #1e120f 0% 0% no-repeat padding-box;
        border: 1px solid #ffffff99;
        word-break: break-all;
      }
    }

    .btn-wp {
      height: rem(70rem);
      line-height: rem(70rem);
      justify-content: space-between;
      width: rem(370rem);
      margin: 0 auto;

      div {
        color: #f5e8c4;
      }
    }
  }

  .icon_copy,
  .icon_del,
  .icon_qrclose,
  .icon_qrcode,
  .icon_qrdown {
    display: inline-block;
    // @include webp($base-img-dir + 'link/icon_link.png');
    // background-size: rem(146rem) rem(83rem);
  }

  .icon_copy {
    width: rem(27rem);
    height: rem(27rem);
    background-image: url(link($base-img-dir + 'copy.svg'));
    background-size: contain;
  }

  .icon_del {
    width: rem(27rem);
    height: rem(27rem);
    background-image: url(link($base-img-dir + 'delete.svg'));
    background-size: contain;
  }

  .icon_qrclose {
    width: rem(27rem);
    height: rem(27rem);
  }

  .icon_qrcode {
    width: rem(27rem);
    height: rem(27rem);
    background-image: url(link($base-img-dir + 'qr.svg'));
    background-size: contain;
  }

  .icon_qrdown {
    width: rem(34rem);
    height: rem(32rem);
    background-position: rem(-35rem) rem(-51rem);
  }

  .add-link {
    left: 5%;
    bottom: rem(30rem);
    display: block;
    width: 90%;
    height: rem(90rem);
    border-radius: rem(50rem);
    font-family: AppleSystemUIFontBold;
    font-size: rem(28rem);
    text-shadow: 0px 3px 6px #472f2280;
    font-weight: bolder;
  }

  .empty-free {
    padding-top: 3.3rem;
    text-align: center;

    .empty-free-img {
      width: 2.8rem;
      height: 2.8rem;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
      font-size: rem(26rem);
      font-family: AppleSystemUIFontRegular;
      margin-top: rem(-15rem);
    }
  }

  .qr-wp {
    width: rem(490rem);
    border: 2px solid #fcefd5;
    border-radius: 30px;
    padding: rem(43rem);

    .img-bg {
      width: rem(400rem);
      height: rem(400rem);
      padding: rem(20rem);
      background: #fff;
      border-radius: rem(24rem);
    }

    button {
      display: inline-block;
      margin: rem(23rem) 0 0;
      background: transparent linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%) 0% 0% no-repeat padding-box;
      width: rem(192rem);
      height: rem(76rem);
      border-radius: rem(50rem);
      padding: 0;

      &:first-child {
        background: transparent linear-gradient(90deg, #fff 0%, #fcefd5 100%) 0% 0% no-repeat padding-box;
      }
    }
  }
}