.member-list {
  overflow-y: scroll;
  background-color: #1e1110;
  color: #fff;

  input::-webkit-input-placeholder {
    color: #737373;
  }

  .input-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(18rem);
    }

    .pub-p {
      border: rem(2rem) solid #707070;
      border-radius: rem(50rem);
    }

    .pub-p,
    .time-picker {
      font-size: rem(20rem);
      height: rem(80rem);
      line-height: rem(80rem);
      background: transparent;
      color: #737373;
    }

    .bd-wp {
      border: rem(2rem) solid #707070;
      border-radius: rem(50rem);
      color: #737373;
    }

    input,
    div {
      flex: 1;
    }

    >p {
      width: rem(220rem);
      text-transform: capitalize;
    }

    span {
      color: #faeca2;
      font-weight: bolder;
      font-family: AppleSystemUIFontBold;
      padding-left: rem(10rem);
      font-size: rem(26rem);
    }
  }

  .error-color {
    color: red;
    margin-top: rem(-10rem);
    height: rem(40rem);
  }

  .time-picker {
    cursor: pointer;
    width: 45%;
    text-align: center;
  }

  .query-box {
    // margin: rem(28rem) rem(20rem);
    padding: rem(22rem) rem(22rem) rem(42rem) rem(26rem);
  }

  .search-container {
    padding: rem(40rem) rem(30rem);
  }

  // .bg-style {
  //   background: #292828;
  //   box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
  //   border-radius: rem(16rem);
  //   border-image: linear-gradient(166deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 2 2;
  // }
  .member-table {
    margin-top: rem(15rem);
    padding: rem(38rem) rem(30rem) rem(35rem) rem(30rem);

    .link-img-size {
      margin-left: rem(10rem);
      vertical-align: middle;
      transform: rotate(0deg);
      transition: all 0.5s ease-out;

      &.active {
        transform: rotate(180deg);
      }
    }

    table {
      border: 1px solid #fcefd5;
      border-radius: rem(30rem);
      border-spacing: 0;
      border-collapse: inherit;
      overflow: hidden;
    }

    table td {
      height: rem(82rem);
      text-align: center;
      border-right: 1px solid #fcefd5;
      border-bottom: 1px solid #fcefd5;
    }

    tr {
      &:first-child {
        text-transform: uppercase;
        font-family: AppleSystemUIFontBold;
        font-size: rem(26rem);
        background: transparent linear-gradient(99deg, #c6a86c 0%, #472f22 100%) 0% 0% no-repeat padding-box;
      }

      &:not(:first-child) td:first-child {
        background: transparent linear-gradient(155deg, #674837 0%, #472f22 100%) 0% 0% no-repeat padding-box;
      }

      td:last-child {
        border-right: 0;
        font-weight: bolder;
      }
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }

  .table-title {
    margin: rem(40rem) 0 0 rem(10rem);
    text-transform: uppercase;
    color: #f5e8c4;
    font-family: AppleSystemUIFontBold;
  }

  .ipt-k {
    position: relative;

    .k {
      position: absolute;
      bottom: 0.12rem;
      right: 0.1rem;
      font-size: 0.1rem;
      font-weight: normal;
      color: #000;
    }
  }

  .ipt-name {
    position: relative;

    input {
      padding-left: 0.4rem;
    }

    .prefix {
      position: absolute;
      bottom: 0.06rem;
      width: 0.3rem;
      left: 0.01rem;
      height: 0.28rem;
      line-height: 0.28rem;
      background: #f5f7fa;
      font-size: 0.1rem;
      border-top-left-radius: 0.06rem;
      border-bottom-left-radius: 0.06rem;
      font-weight: normal;
      color: #000;
    }
  }

  .agent-tip {
    color: red;
    font-weight: normal;
  }

  .btn-wp {
    text-align: center;
  }

  .main-btn {
    margin-top: rem(24rem);
    width: 100%;
    height: rem(96rem);
    // line-height: rem(96rem);
    font-family: AppleSystemUIFontBold;
    font-size: rem(28rem);
    font-weight: bolder;
  }

  // button {
  //   margin: 0 0.11rem;
  //   // width: rem(208rem);
  //   height: rem(70rem);
  //   border-radius: rem(17rem);
  //   font-size: rem(20rem);
  //   &.add,
  //   &.query,
  //   &.confirm {
  //     color: #fff;
  //   }
  //   &.query {
  //     background: linear-gradient(180deg, #e1d5b0 0%, #d7bc6e 100%);
  //   }
  //   &.max-query {
  //     display: block;
  //     margin: rem(25rem) auto 0;
  //     // width: rem(650rem);

  //     height: rem(98rem);
  //   }
  //   &.add {
  //     background: linear-gradient(90deg, #a5d6f3 0%, #7fa1ed 100%);
  //     box-shadow: 0 rem(4rem) rem(8rem) 0 rgba(142, 182, 239, 1);
  //   }
  //   &.reset {
  //     border: rem(2rem) solid #e8927e;
  //     color: #000;
  //     background: #fff;
  //   }
  //   &.edit {
  //     margin: 0 auto;
  //     display: block;
  //     width: rem(136rem);
  //     height: rem(52rem);
  //   }
  //   &:disabled {
  //     opacity: 0.5;
  //   }
  // }
  .color-blue {
    color: #38a3ed;
  }

  .empty-free {
    text-align: center;
    margin-top: 0.5rem;

    .empty-free-img {
      width: 2.17rem;
      height: 1.57rem;
    }

    color: #5d5d5d;
  }

  .wrapper {
    width: 100%;
    height: 100%;

    .edit-bg {
      margin: 0 0.3rem;
      padding: 0.15rem 0.15rem 0.2rem;
      width: 100%;
      border-radius: 0.14rem;
      background: #fff;
      color: #000;
      font-weight: bold;
      box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.09);
    }

    .edit-header {
      height: 0.3rem;
      border-bottom: 1px solid #e5e6eb;

      img {
        width: 0.16rem;
        height: 0.16rem;
      }
    }

    .icon-warn {
      color: #d44646;
    }

    .top-sel,
    input,
    textarea {
      width: 100%;
      margin: 0.05rem 0;
      height: 0.3rem;
      // color: #CECECE;
      font-weight: normal;
      border: 0.01rem solid #e5e6eb;
      border-radius: 0.06rem;
    }

    input {
      &:disabled {
        background-color: #f5f7fa;
      }
    }

    textarea {
      height: 0.75rem;
      padding-left: 0.1rem;
      resize: inherit;

      &::-webkit-input-placeholder {
        color: #cecece;
        font-size: 0.12rem;
      }
    }

    .textarea-wp {
      span {
        right: 0.1rem;
        bottom: 0.08rem;
        font-size: 0.12rem;
        font-weight: 400;
        color: #cecece;
      }
    }

    .top-sel {
      padding: 0 0.12rem;
      color: #cecece;
    }
  }
}