@use "sass:map";
.plan {
  &-app {
    padding: rem(30rem) rem(24rem) rem(40rem);
    width: 100%;
    padding-top: rem(16rem);

    li {
      flex: 1;
      display: flex;
      height: rem(100rem);
      flex-flow: column;
      align-items: center;
      font-size: rem(20rem);
      color: rgba(65, 70, 85, 0.5);
      // padding: 0 rem(20rem);
      box-sizing: border-box;

      img {
        width: rem(76rem);
      }

      p {
        font-size: rem(20rem);
        padding-top: rem(10rem);
        line-height: rem(23rem);
        width: rem(110rem);
        color: #846151;
      }
    }
  }

  &-content {
    padding: 0 rem(24rem);
    margin-top: rem(16rem);

    li {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: map.get($colors, white);
      margin-bottom: rem(16rem);
      border-radius: rem(16rem);
      padding: 0 rem(3rem);
      // max-height: rem(170rem);
      box-shadow: 0 rem(8rem) rem(26rem) 0 rgba(0, 0, 0, 0.09);
    }
  }

  &-icon {
    padding: 0 rem(36rem);
    height: rem(70rem);
    line-height: rem(70rem);

    img {
      height: rem(76rem);
      width: rem(76rem);
      min-width: rem(76rem);
    }
  }

  &-text {
    margin: rem(10rem) rem(10rem) 0;
    color: $theme-txt-color24;

    span {
      display: block;
      text-align: left;
      font-size: rem(24rem);
    }

    span:first-child {
      line-height: rem(28rem);
      color: #000;
    }

    span:last-child {
      margin-left: rem(-66rem);
      width: 120%;
      transform: scale(0.8);
      line-height: rem(32rem);
      text-align: justify;
      color: #AFB0BA;
    }
  }
}