.prot {
  padding-top: rem(20rem);
  overflow: scroll;
  height: calc(100% - 1rem);
  &-wp {
    padding-top: rem(20rem);
    color: $theme-txt-color22;
  }
  &-des {
    span,
    p {
      padding: 0 rem(30rem);
      line-height: rem(34rem);
    }
    span {
      color: #000;
    }
    p {
      color: #afb0ba;
    }
  }
  .prot-table {
    padding: rem(90rem) rem(30rem) rem(20rem);
  }
  table {
    padding: 0 rem(40rem);

    vertical-align: middle;
    border: rem(1rem) solid #eeeeee;
    border-width: rem(1rem);
    border-collapse: collapse;
    color: #afb0ba;
    thead {
      background: $bg-c21;
      th {
        padding: rem(18rem) rem(20rem);
        border-right: rem(1rem) solid #eeeeee;
        border-width: rem(1rem);
        line-height: rem(26rem);
        text-align: center;
        font-weight: 400;
        font-size: rem(16rem);
        vertical-align: middle;
        &:nth-of-type(1) {
          width: rem(160rem);
        }
      }
    }
    tbody {
      tr {
        border-bottom: rem(1rem) solid #eeeeee;
        td {
          padding: rem(20rem) rem(0rem);
          line-height: rem(26rem);
          border-right: rem(1rem) solid #eeeeee;
          border-width: rem(1rem);
          font-size: rem(18rem);
        }
      }
    }
  }
  .prot-recom {
    padding: rem(50rem) rem(30rem) rem(20rem);
  }
  .usdt-item {
    margin: 0 rem(30rem);
    height: rem(158rem);
    background: none;
    border: none;
    border-bottom: rem(2rem) solid #eeeeee;
    &:last-child {
      border: none;
    }
    img {
      width: rem(112rem);
      height: rem(112rem);
    }
    div {
      width: rem(492rem);
      line-height: rem(28rem);
      padding: 0 rem(10rem) 0 rem(16rem);
      color: #afb0ba;
      h2 {
        margin: 0 0 rem(6rem);
        line-height: 0.28rem;
        color: $txt-c3;
      }
    }
  }
  &-bot {
    margin: rem(30rem) 0;
    padding: 0 rem(30rem);
    color: $txt-c5;
    line-height: rem(36rem);
  }
}
