.reset-password-view {
  background: #1e1110;
  display: flex;
  flex-direction: column;

  .forgot-bg {
    // height: 100%;
    flex: 1;
    @include webp($base-img-dir + 'reset-password/bg.png');
    background-size: contain;
    overflow-y: auto;
    padding-bottom: rem(40rem);
  }

  .step-l {
    box-sizing: border-box;
    // height: rem(750rem);
    padding: rem(60rem) rem(80rem) 0;
    margin-bottom: rem(100rem);

    .steps {
      height: rem(230rem);

      .step-box {
        width: rem(136rem);
        display: flex;
        flex-direction: column;

        img {
          height: rem(192rem);
          margin-bottom: rem(8rem);
        }

        p {
          width: max-content;
          text-align: center;
          color: rgba(255, 255, 255, 0.4);
          white-space: nowrap;
          margin-top: rem(15rem);
        }

        &.active {
          p {
            color: #fff;
          }
        }
      }

      .arrow {
        align-self: flex-start;
        margin: 0 rem(40rem);
        i {
          width: rem(40rem);
          height: rem(40rem);
          margin-top: rem(60rem);
          display: block;
          @include webp($base-img-dir + 'reset-password/arrow-list.svg');
          background-size: cover;
        }
        i.active {
          @include webp($base-img-dir + 'reset-password/arrow-list-a.svg');
          background-size: cover;
        }
      }
    }
  }
  .setp-1-tabs {
    position: relative;
    margin: rem(-360rem) auto rem(42rem);
    font-size: rem(43rem);
    line-height: rem(43rem);
    color: #fcde9e;
    .active {
      font: normal normal bold 25px/43px AppleSystemUIFont;
    }
  }

  .step-content {
    box-sizing: border-box;
    width: rem(700rem);
    padding: rem(30rem) rem(24rem);
    margin: 0 auto;
    background-color: #291b15;
    border: 2px solid #fcde9e;
    border-radius: rem(20rem);
  }

  .step-1 {
    // div {
    //   color: #000000;
    //   font-size: rem(20rem);
    //   height: rem(40rem);
    //   flex: 1;
    //   transition: all 0.2s ease-out;
    // }
    .tab-line {
      width: rem(70rem);
      height: rem(6rem);
      background-color: #d7bc6e;
      position: absolute;
      bottom: 0;
      border-radius: rem(4rem);
      transform: translateX(-50%);
      transition: all 0.2s ease-out;
    }
  }

  .reset-password {
    margin-top: rem(-360rem);
    .tips {
      font-size: rem(22rem);
      line-height: rem(26rem);
      color: #8e8b8b;
      margin-top: rem(28rem);
    }
  }

  .step4 {
    // margin-top: rem(-360rem);
    height: rem(429rem);
    margin-bottom: rem(40rem);
    img {
      width: rem(110rem);
      height: rem(110rem);
      margin-bottom: rem(32rem);
    }
    p {
      width: rem(400rem);
      text-align: center;
      color: white;
      font-size: rem(26rem);
      line-height: rem(35rem);
      font-weight: bold;
      letter-spacing: 0px;
    }
  }

  .g-input {
    color: $txt-c3;
    font-size: rem(22rem);
    line-height: rem(22rem);
    padding-bottom: rem(20rem);
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }

    p {
      padding-left: rem(20rem);
      margin-bottom: rem(12rem);
      color: #fff;
      text-transform: capitalize;
    }

    input {
      box-sizing: border-box;
      // width: 100%;
      height: rem(74rem);
      padding-left: rem(14rem);
      border-radius: rem(40rem);
      background: #1e120f 0 0 no-repeat padding-box;
      border: 1px solid #472f22;
      font-size: rem(20rem);
      color: #fff;
    }
    input::placeholder {
      color: #707070;
    }
    input[disabled] {
      color: $txt-c4;
    }

    .pwd-tips {
      color: #8e8b8b;
      padding: rem(10rem) rem(20rem);
      font-size: rem(22rem);
      line-height: rem(28rem);
    }

    .captcha-box {
      display: flex;
      align-items: center;

      input {
        width: rem(420rem);
      }

      .captcha {
        margin-left: rem(16rem);
        width: rem(330rem);
        height: rem(74rem);
        line-height: rem(74rem);
        color: #674837;
        text-shadow: 0px 3px 6px #472f2280;
        background: transparent linear-gradient(90deg, #ffffff 0%, #fcefd5 100%) 0% 0% no-repeat padding-box;
        border-radius: rem(50rem);
        text-align: center;
        padding: 0 rem(15rem);
        font-family: AppleSystemUIFontBold;
        opacity: 0.5;
      }
    }

    .email-box {
      display: flex;
      align-items: center;

      button {
        margin-left: rem(10rem);
        width: rem(240rem);
        height: rem(74rem);
        color: #291717;
        @include webp($base-img-dir + 'reset-password/btn-b.png');
        background-size: 100% 100%;
        font-size: rem(22rem);
        border-radius: 50rem;
      }
      button[disabled] {
        opacity: 0.5;
      }
    }
  }
  .g-input:last-child {
    border-bottom: none;
    // input {
    //   width: 75%;
    // }
  }
  .get-code {
    padding: rem(28rem) rem(30rem);
  }
  .btn-wp {
    width: rem(690rem);
    margin: rem(0rem) auto 0;
    .nextCss {
      height: rem(102rem);
      width: rem(700rem);
      border-radius: 50rem;
      // @include webp($base-img-dir + 'reset-password/btn.png');
      background: transparent linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%) 0% 0% no-repeat padding-box;
      background-size: 100% 100%;
      color: #674837;
      font: normal normal bold 24px/33px AppleSystemUIFont;
      color: #674837;
      text-shadow: 0px 3px 6px #472f2280;
      text-transform: uppercase;
    }
    .nextCss:disabled {
      // @include webp($base-img-dir + 'reset-password/btnDisabled.png');
      background: transparent linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%) 0% 0% no-repeat padding-box;
      opacity: 0.5;
      background-size: 100% 100%;
    }
    .tohome {
      // @include webp($base-img-dir + 'reset-password/btn-a.png');
      background: transparent linear-gradient(90deg, #ffffff 0%, #fcefd5 100%) 0% 0% no-repeat padding-box;
      border-radius: 50rem;
      background-size: 100% 100%;
      color: #674837;
      font: normal normal bold 24px/33px AppleSystemUIFont;
    }
  }
  .reset-password-declare {
    // width: rem(600rem);
    padding: 0 rem(40rem);
    text-align: center;
    margin: rem(30rem) auto;
    color: #ffffff;
    font-size: rem(24rem);
    line-height: rem(34rem);

    .contact-us {
      color: #fcde9e;
      text-decoration: underline;
    }
  }
}
