.selector {
  display: block;
  // position: fixed;
  // top: rem(90rem);
  // left: 0;
  width: 100%;
  height: rem(100rem);
  // background-color: #1e1110;
  color: #fff;
  z-index: 99999;
  background-size: 100% auto;
  background-position: center rem(-90rem);
  position: relative;

  .first-menu {
    height: rem(100rem);
    display: flex;
    // padding-left: rem(34rem);

    .first-item {
      min-width: rem(160rem);
      height: rem(60rem);
      margin-right: rem(20rem);
      text-align: center;
      background: #372f29 0% 0% no-repeat padding-box;
      border-radius: rem(50rem);
      position: relative;
      font-size: rem(20rem);
      padding: 0 rem(20rem);
      border: rem(2rem) solid #fcefd5;

      .date {
        width: rem(150rem);
      }

      p {
        line-height: rem(20rem);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .triangle {
      display: block;
      width: rem(20rem);
      height: rem(20rem);
      @include webp($base-img-dir + 'down-icon.png');
      background-size: rem(20rem);
      background-position: center;
      margin-left: rem(8rem);
    }

    .triangle.active {
      transform: rotateX(180deg);
    }
  }

  .seccond-menu {
    margin: 0 auto;
    background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
    width: rem(700rem);
    border: rem(2rem) solid #fcefd5;
    border-radius: rem(30rem);
    padding: .4rem .1rem;

    .tips {
      font-size: rem(20rem);
      color: #fff;
      padding: rem(20rem) rem(32rem) 0;
    }

    .seccond-item {
      width: 25%;
      height: rem(100rem);
      padding: 0 0.2rem;
      color: #fff;
      text-align: center;
      line-height: rem(28rem);
      font-weight: 400;
      position: relative;
      font-size: rem(20rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .seccond-item::after {
      position: absolute;
      content: '';
      height: rem(28rem);
      border-right: rem(1rem) solid #efefef;
      right: rem(-2rem);
      top: 50%;
      transform: translateY(-50%);
    }

    .seccond-item:nth-child(4n):after {
      content: none;
    }

    .seccond-item:last-child:after {
      content: none;
    }

    .seccond-item.active {
      color: #f5e8c4;
      text-shadow: 0px 0px 8px #fcefd5;
      position: relative;

      // &::after {
      //   content: '';
      //   width: rem(40rem);
      //   height: rem(4rem);
      //   position: absolute;
      //   top: 100%;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   border-radius: rem(2rem);
      //   background-color: #fcefd5;
      //   box-shadow: 0px 0px 6px #fcefd5;
      // }
    }
  }

  .date-selector {
    // border-top: rem(2rem) solid #efefef;
    margin: 0 rem(30rem);
    padding-top: 6px;

    .date-item {
      padding: 0 rem(26rem);
      color: #c4c3c2;
      font-size: rem(24rem);
      border: 1px solid #ffffff99;
      height: rem(80rem);
      line-height: rem(80rem);
      border-radius: rem(40rem);

      .time-warp {
        img {
          width: rem(30rem);
          margin-left: rem(27rem);
        }
      }

      &:first-child {
        margin-bottom: rem(20rem);
      }
    }
  }

  .selector-button {
    height: rem(156rem);

    div {
      width: rem(240rem);
      height: rem(76rem);
      border-radius: rem(50rem);
      text-align: center;
      line-height: rem(76rem);
      font-size: rem(26rem);
      padding: 0;
    }

    .cancel-button {
      margin-right: rem(34rem);
      background: transparent linear-gradient(90deg, #fff 0%, #fcefd5 100%) 0% 0% no-repeat padding-box;
    }
  }

  .van-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

.van-overlay.selector-mask {
  background: rgba(0, 0, 0, 0.3);
  top: rem(170rem);
  z-index: 2 !important;
}