.system {
  overflow: scroll;
  height: 100%;
  background-color: #1e1110;
  color: #fff;
  text-transform: uppercase;
  .system-list {
    background-color: #292828;
    box-shadow: 0px rem(8rem) rem(26rem) 0px $bg-rgba7;
    border-radius: rem(30rem);
    // margin: 0 rem(30rem);
    padding: 0 rem(30rem) 0 rem(32rem);
    .system-nav {
      height: rem(90rem);
      line-height: rem(88rem);
      font-size: rem(26rem);
      font-family: AppleSystemUIFontBold;
      border-bottom: rem(2rem) solid #707070;
      &:first-child {
        border-radius: rem(16rem) rem(16rem) 0 0;
      }
      &:last-child {
        border: none;
        border-radius: 0 0 rem(16rem) rem(16rem);
      }
    }
    .system-title {
      padding: 0;
      border: none;
      height: auto;
    }
  }
  .system-quit {
    margin: rem(20rem) 0;
    border-radius: rem(50rem);
    line-height: rem(88rem);
    background: #302020;
    box-shadow: 0px rem(8rem) rem(26rem) 0px $bg-rgba7;
    border: 1px solid #674837;
    color: #f00;
    font-family: AppleSystemUIFontBold;
  }
}
