.share-record-view{
  .van-tabs--line,.van-tabs__wrap{
    height: rem(87rem);  
  }
  .van-tab.van-tab--active{
    font-weight: 700;
    color: $theme-share-record-tab-active-txt;
  }
  .van-tab{
    color: $theme-share-record-tab-txt;
    font-size: rem(24rem);
  }
  .van-tabs__line{
    width: 50%;
    background-color: $theme-share-record-tab-line-bg;
    height: 2PX;
  }
}