.share-view {
  overflow: scroll;
  height: 100%;
  padding-bottom: 0.9rem;
  &.share-bg {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% rem(700rem);
    background-color: #F3F9FE;
  }
  .van-nav-bar__title {
    width: rem(360rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-content {
    position: relative;
    padding-bottom: rem(60rem);
    padding-top: rem(699rem);
  }
  .top-img {
    top: 0;
  }
  // &-title {
  //   width: rem(696rem);
  //   height: 1.25rem;
  //   background-size: cover;
  //   margin: 0 auto rem(46rem);
  //   @include webp($base-img-dir + 'share/share-title.png');
  // }

  &-content-wrap {
    width: rem(690rem);
    margin: auto;
    margin-bottom: rem(20rem);
    padding-bottom: rem(24rem);
    background: $bg-c1;
    border-radius: rem(20rem);
    box-shadow: rem(0rem) rem(8rem) rem(26rem) rem(0rem) $bg-rgba7;
    overflow: hidden;
  }

  .three-step-title {
    padding-top: rem(30rem);

    img {
      width: rem(412rem);
    }

    .rule-img {
      width: rem(298rem);
    }
  }

  .three-step-content {
    margin: rem(74rem) rem(60rem) rem(40rem);

    // p {
    //   width: rem(200rem);
    // }

    &-item {
      text-align: center;
      font-size: rem(20rem);
      color: $txt-c3;
      font-weight: bold;

      img {
        width: rem(84rem);
        padding-bottom: rem(20rem);
      }
    }

    &-next {
      padding-top: rem(28rem);
      flex-shrink: 0;
      width: rem(26rem);
      height: rem(20rem);
      img {
        width: rem(30rem);
        height: rem(30rem);
      }
    }
  }

  .three-step-table {
    width: rem(610rem);
    margin: auto;
    border-radius: rem(16rem);
    overflow: hidden;
    font-size: rem(24rem);
    border: rem(2rem) solid $bd-c7;

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    tr:first-child {
      background: #E3A090;

      th {
        height: rem(30rem);
        line-height: rem(30rem);
        padding: rem(8rem) rem(10rem);
      }
    }

    th {
      color: $txt-c2;
    }

    th,
    td {
      font-weight: normal;
      height: rem(74rem);
      line-height: rem(74rem);
      text-align: center;
      border-right: rem(2rem) solid $bd-c7;
    }

    td {
      color: $txt-c25;
    }
  }

  .content-rule {
    margin: rem(26rem) rem(30rem);
    font-size: rem(28rem);
    color: $txt-c3;

    p {
      margin-bottom: rem(20rem);
      font-size: rem(24rem);
    }
  }

  .reminder {
    font-size: rem(24rem);
    color: $txt-c26;
    margin: rem(8rem) rem(48rem);
  }

  .btn-wp {
    width: rem(690rem);
    margin: auto;
  }

  .share-popup {
    background: transparent;

    .cancel {
      height: rem(68rem);
      background: #ffffff;
      border-radius: rem(16rem);
      color: #000000;
      line-height: rem(68rem);
    }

    .sp-c {
      height: rem(180rem);
      background: #ffffff;
      border-radius: rem(16rem) rem(16rem) 0 0;
      padding: 0 rem(30rem);
      img {
        width: rem(92rem);
        height: rem(92rem);
      }

      p {
        color: $txt-c4;
      }
    }
  }
  .share-pic {
    width: rem(524rem);
    height: rem(728rem);
    position: absolute;
    z-index: 2010;
    left: 50%;
    top: 10%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: rem(12rem);
    overflow: hidden;
    .share-bg {
      width: rem(524rem);
    }
    .content {
      padding-left: rem(16rem);
      h4 {
        margin-bottom: rem(14rem);
      }
    }
    .share-qrcode {
      position: absolute;
      width: rem(158rem);
      height: rem(158rem);
      right: rem(30rem);
      bottom: rem(24rem);
    }
  }
  .share-pic-enter-active,
  .share-pic-leave-active {
    transition: opacity 0.3s;
  }
  .share-pic-enter, .share-pic-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
