.recd {
  background-color: #f8f8f8;
}
.recd-wrap {
  padding-top: rem(32rem);
  height: calc(100% - 1rem);
}
.date-bar {
  button {
    width: rem(220rem);
    height: rem(53rem);
    border-radius: rem(11rem);
    border: rem(2rem) solid #e5e6eb;
    background-color: #ffffff;
  }
}
.query-bar {
  width: rem(690rem);
  padding: rem(48rem) rem(16rem) rem(28rem);
  background: #ffffff;
  box-shadow: 0 rem(4rem) rem(12rem) 0 rgba(0, 0, 0, 0.11);
  border-radius: rem(12rem);
  font-size: rem(24rem);
  height: rem(240rem);
  margin: 0 auto;
}
.button-bar {
  margin-top: rem(36rem);
  button {
    width: rem(177rem);
    height: rem(65rem);
    border-radius: rem(7rem);
    margin: 0 rem(23rem);
  }
  .reset {
    border: rem(2rem) solid #e3a090;
    background: #ffffff;
    color: #e3a090;
  }
  .query {
    background: #e3a090;
    color: #fff;
  }
}
.recd-empty {
  color: #b1b4bd;
  font-size: rem(28rem);
  margin-top: rem(98rem);
  text-align: center;
  img {
    width: rem(394rem);
    height: rem(356rem);
    margin-bottom: rem(112rem);
  }
}

.list-wrap {
  height: calc(100% - 2.4rem);
  overflow: scroll;
  padding: 0 rem(30rem) rem(32rem);
  li {
    box-shadow: 0 rem(4rem) rem(12rem) 0 rgba(0, 0, 0, 0.11);
    border-radius: rem(12rem);
    background: #ffffff;
    margin-top: rem(32rem);
    overflow: hidden;
    p {
      padding: 0 rem(30rem);
      line-height: rem(66rem);
      &:first-child {
        background: #f7faff;
        border-bottom: rem(1rem) solid #eeeeee;
      }
      span {
        margin-right: rem(10rem);
      }
    }
  }
}
