.tutorials {
  height: 100%;
  // overflow: scroll;
  background-color: #1e1110;
  &-content {
    padding-top: rem(20rem);
  }
  background-position: center 0;
  &-top {
    // width: rem(690rem);
    margin: 0 rem(30rem);
    border-bottom: 1px solid #707070;

    .sel-check {
      width: rem(50rem);
      height: rem(50rem);
    }
  }
  .sel-cont {
    border-radius: 0;
    color: #fff;
    font-family: AppleSystemUIFontBold;
  }
  span {
    $icons: '1', '2', '3', '4', '5', '6', '8', '9', '10', '11', '12', '13', '14';
    @each $i in $icons {
      &.icon_#{$i} {
        @include webp($base-img-dir + 'pay/icon_' + $i + '.png');
        background-size: 100%;
      }
    }
  }
  &-scroll {
    padding-bottom: rem(40rem);
  }
}
.help-wrap {
  .step-wrap {
    // width: rem(690rem);
    margin: rem(20rem) 0 0;
    // height: 80vh;
    overflow: scroll;
    // padding-bottom: rem(100rem);
    img {
      width: rem(630rem);
    }
  }
  .step-index {
    padding: rem(36rem) 0 rem(40rem) 0;
    color: #fff;
    span {
      display: inline-block;
      width: rem(62rem);
      height: rem(62rem);
      line-height: rem(62rem);
      border: rem(2rem) solid #fff;
      border-radius: rem(62rem);
    }
  }
}
