.valet {
  &-code {
    margin-bottom: rem(20rem);
    line-height: rem(40rem);
    color: $txt-c4;
    span {
      display: inline-block;
      width: rem(22rem);
      height: rem(18rem);
      background: url(link($base-img-dir + 'icon-daike.svg')) no-repeat;
      background-size: 100% 100%;
    }
  }
  &-t {
    margin-bottom: rem(66rem);
    line-height: rem(40rem);
    color: $txt-c3;
  }
  .type-item-wp {
    width: 70%;
    margin: 0 auto;
    .t-name {
      padding: 0 rem(20rem);
      color: #000;
    }
  }
  .ym-dialog {
    .valet-dialog-t {
      margin-top: rem(56rem);
      color: #afb0ba;
    }
    &.recharge {
      p {
        letter-spacing: 0;
        margin-top: rem(4rem);
      }
      .valet-ipt {
        margin-top: rem(30rem);
        font-size: rem(24rem);
      }
    }
    input {
      margin-left: rem(10rem);
      width: rem(220rem);
      border-bottom: rem(1rem) solid #efefef;
    }
    .valet-submit {
      width: rem(180rem);
    }
  }
}
