.withdraw-view {
  overflow: scroll;
  height: calc(100% - 1rem);
  background: #1e1110;
  color: #fff;
  padding: rem(20rem) rem(25rem);

  .sec {
    padding: 0 rem(28rem);
    background-color: #ffffff;
  }

  .withdraw-h4 {
    color: #fff;
  }

  // .txt-c4 {
  //   color: #737373;
  // }
  // .txt-c3 {
  //   color: #000;
  // }
  .txt-c1 {
    color: #d6aa59;
  }

  .btn-wp {
    >div {
      width: rem(324rem);
    }

    button {
      color: #afb0ba;
      background: #ffffff;
      box-shadow: none;
      border: rem(2rem) solid #848484;
      font-size: rem(20rem);
    }

    button.active {
      background: #e6c981;
      color: #8b644e;
      border: none;
    }
  }

  p.tip {
    margin-top: rem(20rem);
    padding: 0 rem(30rem);
    padding-bottom: 0.5rem;
    line-height: 0.4rem;
  }

  .fake-input-box {
    margin: rem(20rem) auto;
    color: #fff;
    background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
    border: rem(2rem) solid #f5e8c4;
    border-radius: rem(30rem);
    padding: rem(34rem) rem(25rem);

    .notice {
      font-size: 0.22rem;
      font-weight: AppleSystemUIFontRegular;
      margin-bottom: rem(25rem);
    }
  }

  .money-tip {
    // border-top: rem(1rem) solid #848484;
    font-size: 0.24rem;
    color: #f00;
    max-height: 0.5rem;

    span {
      line-height: 0.5rem;
      height: 0.5rem;
    }
  }

  .usdt-transfer,
  .usdt-rate {
    padding: 0 0.28rem;
    margin: 0.2rem 0;
  }

  .button-wrapper {
    // padding: 0.1rem 0.3rem 0.2rem;
  }

  .t-sec {
    width: rem(690rem);
    height: rem(466rem);
    margin: rem(20rem) auto 0;
    padding: rem(20rem) rem(30rem) rem(36rem);

    .trs-tip {
      color: #d6aa59;
    }

    p {
      margin-bottom: rem(22rem);
      //padding: 0 rem(74rem);
    }

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.bank-box {
  margin: rem(20rem) auto 0;
  min-height: rem(172rem);
  background: transparent linear-gradient(90deg, #3b2d2d 0%, #291717 100%) 0% 0% no-repeat padding-box;
  border: rem(2rem) solid #674837;
  border-radius: rem(30rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-bottom: rem(20rem);

  .coin-list-info {
    padding: rem(39rem) rem(28rem) 0;

    .title {
      font-size: rem(26rem);
      height: rem(30rem);
      line-height: rem(30rem);
      margin-bottom: rem(20rem);
    }

    .coin-item {
      height: rem(90rem);
      line-height: rem(90rem);
      color: #fff;
      background: transparent linear-gradient(99deg, #291717 0%, #472f22 100%) 0% 0% no-repeat padding-box;
      border: rem(2rem) solid #674837;
      border-radius: rem(10rem);
      padding: 0 rem(20rem);
      margin-bottom: rem(20rem);
      position: relative;

      .subscript-icon {
        position: absolute;
        right: rem(-1rem);
        bottom: rem(-1rem);
        width: rem(35rem);
        height: rem(35rem);
        @include webp($base-img-dir + 'public/subscript-icon.png');
        background-size: 100% 100%;
      }

      .warn-icon {
        width: rem(32rem);
        height: rem(32rem);
        @include webp($base-img-dir + 'withdraw/warn-icon.png');
        background-size: 100% 100%;
        margin: 0 rem(6rem) 0 rem(12rem);
      }

      &.active {
        background: transparent linear-gradient(99deg, #472f22 0%, #765c28 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px rem(10rem) #faeca2;
        border: rem(2rem) solid #faeca2;
      }

      &.warning {
        background-color: #f00;
      }

      .bank-name {
        width: rem(295rem);
        line-height: rem(24rem);
        font-size: rem(22rem);
        font-family: AppleSystemUIFontBold;
        flex: 1;
      }

      // .bank-account {
      // text-align: right;
      // }
      i {
        margin-left: rem(30rem);
        position: absolute;
        right: 0;
        width: rem(32rem);
        height: rem(32rem);
      }

      i.active {
        border-radius: 50%;
        @include webp($base-img-dir + 'withdraw/icon-choose.png');
        background-size: 100% 100%;
      }

      i.black-warning {
        @include webp($base-img-dir + 'withdraw/icon-warning.png');
        background-size: 100% 100%;
      }
    }
  }

  .add-card-sec {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(30rem);

    .add-card-sec-li {
      span {
        flex-grow: 1;
        margin-bottom: 0;
      }

      span:first-child {
        width: rem(50rem);
        margin-top: rem(-10rem);
      }
    }

    span {
      color: #f5e8c4;
      text-align: center;
      width: 100%;
      line-height: rem(50rem);
      font-family: AppleSystemUIFontBold;
    }

    .plus {
      font-size: rem(50rem);
    }

    p {
      font-size: rem(22rem);
      line-height: rem(22rem);
      font-weight: AppleSystemUIFontRegular;
    }
  }
}