.bottom-tab-view {
  width: 100%;
  height: rem(120rem);
  position: fixed;
  left: 0;
  bottom: rem(-160rem);
  background-color: #1e1110;
  z-index: 5;
  align-items: center;
  // align-items: flex-end;
  // padding-bottom: rem(15rem);

  &.show {
    bottom: 0;
  }

  $menus: 'home', 'promotion', 'customer-service', 'sponsor', 'personal';

  .tab-item {
    color: #989898;

    .menu-icon {
      background-size: rem(84rem) rem(84rem);
    }

    .icon-home {
      @include webp($base-img-dir + 'bottom-tab/p3-grey.png');
      background-size: rem(173rem) rem(84rem);
    }

    .icon-promotion {
      @include webp($base-img-dir + 'bottom-tab/promotion-grey.png');
    }

    .icon-egame {
      @include webp($base-img-dir + 'bottom-tab/egame-grey.png');
    }

    .icon-chess {
      @include webp($base-img-dir + 'bottom-tab/chess-grey.png');
    }

    .icon-personal {
      @include webp($base-img-dir + 'bottom-tab/personal-grey.png');
    }

    .menu-icon+div {
      font-size: rem(20rem);
    }

    &.active {
      &.tab-item {
        color: #d7bc6e;
      }

      .icon-home {
        @include webp($base-img-dir + 'bottom-tab/p3.png');
      }

      .icon-promotion {
        @include webp($base-img-dir + 'bottom-tab/promotion.png');
      }

      .icon-egame {
        @include webp($base-img-dir + 'bottom-tab/egame.png');
      }

      .icon-chess {
        @include webp($base-img-dir + 'bottom-tab/chess.png');
      }

      .icon-personal {
        @include webp($base-img-dir + 'bottom-tab/personal.png');
      }
    }

    .menu-icon {
      width: rem(84rem);
      height: rem(84rem);
    }

    .menu-text {
      font-size: rem(20rem);
      line-height: rem(23rem);
    }

    .icon-home {
      width: rem(173rem);
      height: rem(84rem);
      margin-bottom: rem(2rem);
    }
  }
}