.empty {
  margin: rem(20rem) auto;
  width: rem(700rem);
  height: rem(875rem);
  background: transparent linear-gradient(90deg, #3b2d2d 0%, #291717 100%) 0% 0% no-repeat padding-box;
  border: rem(2rem) solid #674837;
  border-radius: rem(30rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-top: rem(-50rem);
    width: rem(280rem);
    height: rem(280rem);
  }
  .message {
    margin-top: rem(-15rem);
    color: rgba(255, 255, 255, 0.5);
  }

  .btn-wp {
    height: rem(96rem);
    .ym-btn.big {
      width: 3.72rem;
      height: 0.96rem;
    }
  }
}
