.list-title-view {
  height: rem(96rem);
  background-color: $bg-c1;
  padding: 0 rem(34rem) 0 rem(32rem);
  .icon-wp {
    margin-right: rem(20rem);
  }
  .icon {
    width: rem(40rem);
    height: rem(40rem);
  }
  .content {
    height: 100%;
    border-bottom: rem(1rem) solid rgba(232, 235, 247, 0.5);
  }
  .title {
    color: $theme-txt-color14;
  }
  .desc {
    color: $theme-txt-color15;
  }
  .right img {
    width: rem(32rem);
  }
}
