.userinfo-common-tablelayout thead tr {
  background: transparent linear-gradient(93deg, #c6a86c 0%, #472f22 100%) 0% 0% no-repeat fixed;
  color: white;

  td {
    font-weight: 700;
    height: 50px;
    line-height: 1;
    position: relative;
    white-space: wrap;
    font-size: 14px;
    text-align: center;
  }
}

.userinfo-common-tablelayout thead tr td {
  &:nth-child(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 150px;
  }

  &:nth-child(2) {
    width: 150px;
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    width: 100px;
    padding: 0 12px;
    min-width: 69px;
  }

  &:nth-child(5) {
    width: 90px;
    min-width: 61px;
  }

  &:nth-child(6) {
    width: 50px;
  }

  &:nth-child(7) {
    width: 76px;
  }

  &:nth-child(8) {
    width: 80px;
    min-width: 77px;
  }
}

.userinfo-common-tablelayout thead tr td:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.userinfo-common-tablelayout tbody {
  tr {
    color: white;
    border-radius: 6px;
    cursor: pointer;

    &:nth-of-type(even) td:nth-child(1) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:nth-of-type(even) td {
      background-color: rgba(0, 0, 0, 0.1);
    }

    td {
      padding: 15px 8px;
      line-height: 20px;
      word-break: break-word;
      position: relative;
      text-align: center;
      font-size: 14px;
      &:nth-child(2) {
        width: 120px;
      }
    }

    &:nth-of-type(odd) {
      background-color: transparent;
    }
  }
}

.c-down {
  color: #ff0000;
}

.c-up {
  color: #00ce6f;
}
