.notice-alter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1300;

    .msg-box {
        width: 490px;
        border-radius: 8px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        top: 40%;
        margin-top: -184px;

        .msg-header {
            position: relative;
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-radius: 4px 4px 0 0;
            background: linear-gradient(to right, #5fabff, #3678fe);

            .msg-text {
                display: block;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: 40px;
                line-height: 40px;
                padding: 0 40px 0 16px;
                font-size: 18px;
                color: #fff;
            }
        }

        .msg-content {
            max-height: 474px;
            background-color: #fff;
            padding-top: 20px;

            .msg-notice-info {
                position: relative;
                min-height: 101px;
                max-height: 466px;
                padding: 0px 8px 0 16px;
                box-sizing: border-box;
                overflow-y: auto;

                ul {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;

                    li {
                        position: relative;
                        margin-bottom: 20px;
                        padding: 0 13px;
                        box-sizing: border-box;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 5px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: rgba(64, 128, 255, .5);
                        }

                        .msg-title {
                            line-height: 18px;
                            font-size: 14px;
                            color: #4080ff;
                            margin-bottom: 2px;

                            span {
                                margin-right: 10px
                            }
                        }

                        .msg-box-desc {
                            line-height: 20px;
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
            }

            .msg-no-more-tips {
                height: 79px;
                line-height: 79px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .el-checkbox {
                    margin-left: 20px;

                    .el-checkbox__label {
                        color: #333;
                    }

                }

                .msg-btn-wrap {
                    height: 36px;
                    margin: 0 auto;

                    .index-btn {
                        font-size: 14px;
                        color: #666;
                        width: 130px;
                        height: 36px;
                        line-height: 34px;
                        border-radius: 200px;
                        vertical-align: top;

                        &:nth-child(1) {
                            border: solid 1px #e3e3e3;
                            background-color: transparent;
                        }

                        &:nth-child(2) {
                            margin-left: 20px;
                            color: #fff;
                            background: linear-gradient(to left, #3678fe, #5fabff);
                            color: #fff;
                            box-shadow: 0 10px 20px 0 rgb(60 142 254 / 20%);
                        }
                    }
                }
            }
        }
    }
}

:deep(.el-checkbox__input.is-checked + .el-checkbox__label) {
    color: #333;
}