.userinfo-common-tablelayout thead tr {
  background-color: rgba(243, 246, 249, 0.5);
  color: #333;
  td {
    font-weight: 700;
    // height: 56px;
    // line-height: 56px;
    padding: 15px 8px;
    line-height: 20px;
    position: relative;
    font-size: 14px;
    text-align: center;
  }
}

.userinfo-common-tablelayout thead {
  padding: 0 20px;
}
.userinfo-common-tablelayout thead tr td {
  text-align: center;
  &:nth-child(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 80px;
  }

  &:nth-child(2),&:nth-child(3),&:nth-child(4) {
    width: 130px;
    padding: 0 40px;
  }

  &:nth-child(5) {
    width: 115px;
  }

  &:nth-child(6) {
    width: 140px;
  }

  &:nth-child(7) {
    width: 75px;
  }
}

.userinfo-common-tablelayout thead tr td:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.userinfo-common-tablelayout tbody {
  tr {
    color: #4b5e6f;
    border-radius: 6px;
    cursor: pointer;

    &:nth-of-type(even) td:nth-child(1) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:nth-of-type(even) td {
      background-color: rgba(243, 246, 249, 0.5);
    }

    td {
      height: 56px;
      line-height: 56px;
      position: relative;
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      &.T411,&.T413{
        color: #E0AB4E;
      }
      &.T412{
        color: #FF7B52;
      }
      &.T414{
        color: #1ACB17;
      }
    }

    &:nth-of-type(odd) {
      background-color: white;
    }
  }
}
