.userinfo-common-tablelayout thead tr {
  background: transparent linear-gradient(93deg, #c6a86c 0%, #472f22 100%) 0% 0% no-repeat fixed;
  color: white;

  td {
    font-weight: 700;
    height: 50px;
    line-height: 56px;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
  }
}

.userinfo-common-tablelayout thead tr td {
  &:nth-child(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 80px;
  }

  &:nth-child(2) {
    width: 156px;
  }
  &:nth-child(3) {
    width: 210px;
  }
  &:nth-child(4) {
    // width: 120px;
  }
  &:nth-child(5) {
    // width: 130px;
  }
  &:nth-child(6) {
    // width: 210px;
  }
  &.T372 {
    width: 210px;
  }
}

.userinfo-common-tablelayout thead tr td:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.userinfo-common-tablelayout tbody {
  tr {
    color: white;
    border-radius: 6px;
    cursor: pointer;

    &:nth-of-type(even) td:nth-child(1) {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:nth-of-type(even) td {
      background-color: rgba(0, 0, 0, 0.1);
    }

    td {
      padding: 15px 8px;
      line-height: 20px;
      position: relative;
      word-break: break-word;
      // white-space: nowrap;
      word-break: break-all;
      text-align: center;
      font-size: 14px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      &.td-success {
        color: #1acb17;
      }
      &.td-failed {
        color: #ff0000;
      }
      &.td-ing {
        color: #fdc400;
      }
      &.T372 {
        width: 210px;
      }
    }

    &:nth-of-type(odd) {
      background-color: transparent;
    }
  }
}
