.head-image-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;

  .headImage-photoDiv {
    width: 500px;
    height: 434px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -217px;
    margin-left: -250px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(270deg, #140909 0%, #291717 100%);
    border: 1px solid #fcefd5;

    &.show-cropper-box {
      width: 840px;
      display: flex;
      margin-left: -445px;
    }

    .head-image-close {
      position: absolute;
      width: 48px;
      height: 48px;
      right: 0;
      top: 3px;
      display: block;
      cursor: pointer;
    }

    .head-image-title {
      position: relative;
      color: #674837;
      background: linear-gradient(to right, #f5e8c4 0%, #fcde9e 50%, #e3bb83 100%) !important;
      height: 48px;
      line-height: 48px;
      padding: 0 !important;
      text-align: center !important;
    }

    .head-image-content {
      width: 100%;

      .head-image-preview {
        width: 168px;
        height: auto;
        overflow: hidden;
        padding-top: 15px;

        .img-preview {
          display: block;
          height: 118px;
          width: 118px;
          padding: 3px;
          border-radius: 50%;
          margin: 0 auto;
          border: 2px solid #fcefd5;

          >div {
            height: 108px;
            border-radius: 50%;
            $icons: '1',
            '2',
            '3',
            '4',
            '5',
            '6',
            '7',
            '8',
            '9',
            '10',
            '11',
            '12',
            '13',
            '14',
            '15',
            '16',
            '0';

            @each $i in $icons {
              &.avatar#{$i} {
                @include webp($base-img-dir + 'avator/' + $i + '.png');
                background-size: 100% 100%;
              }
            }
          }
        }

        p:nth-of-type(1) {
          font-size: 13px;
          color: #fff;
          text-align: center;
          height: 30px;
          line-height: 30px;
        }

        p:nth-of-type(2) {
          margin-top: 9px;
          font-size: 15px;
          color: #F5E8C4;
          text-align: center;
          height: 30px;
          font-weight: bold;
        }
      }

      .head-image-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        padding-right: 10px;

        li {
          width: 70px;
          height: 70px;
          margin-right: 10px;
          //margin: 0 8px;
          border-radius: 50%;
          position: relative;
          padding: 3px;
          border: 2px solid transparent;

          &.active,
          &:hover {
            border: 2px solid #f5e1ad;
            box-shadow: 0px 0px 10px #F5E8C4;
          }

          .del-icon {
            position: absolute;
            right: 0;
            top: 0;
            color: #f5e1ad;
            cursor: pointer;
          }

          p {
            font-size: 14px;
            color: #a4a4a4;
            text-align: center;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
          }

          .avatar-img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
          }
        }
      }
    }

    .head-image-modify-box,
    .headImage-cropper-box {
      .btn-group {
        width: 192px;
        height: 70px;
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .index-btn {
          width: 100px;
          height: 30px;
          line-height: 1;
          border-radius: 20px;
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }

  .headImage-cropper-box {
    width: 360px;
    height: 470px;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;

    .cropper-wrap {
      width: 310px;
      height: 330px;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;

      :deep(.cropper-bg) {
        background-image: unset;
      }
    }
  }
}