.verif-wp {
  .verif-form {
    padding-top: rem(118rem);
  }
  .single {
    padding-top: rem(42rem);
  }
  .verif-warning {
    padding-left: rem(30rem);
    color: #666;
  }
  .verif-tab {
    top: rem(42rem);
    left: 15%;
    width: rem(468rem);
    height: rem(56rem);
    line-height: rem(56rem);
    border-radius: rem(56rem);
    background: #E3A090;
    padding: rem(4rem) rem(6rem);
    div {
      width: rem(226rem);
      line-height: rem(25rem);
      padding: 0 rem(30rem);
      color: #fff4e0;
      &.active {
        background: #fff;
        border-radius: rem(48rem);
        color: #E3A090;
      }
    }
  }
}
