@use 'sass:map';

.van-dialog__content {
  height: rem(40rem);
}

.van-dialog__header {
  font-weight: bold;
}

.van-overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
  //z-index: 2000 !important;
}

.van-dialog__message {
  color: #b3b4bd !important;
  line-height: rem(36rem) !important;
  overflow: hidden;
}

.van-dialog--round-button .van-dialog__footer {
  top: rem(90rem);
}

.van-dialog--round-button .van-dialog__confirm {
  background-color: #d7bc6e !important;
  height: rem(68rem) !important;
  width: rem(180rem) !important;
  border-radius: rem(16rem);
  color: #fff !important;
  flex: inherit;
  margin: 0 auto;
}

.van-dialog {
  height: rem(328rem);
  width: rem(690rem) !important;
  box-shadow: 0rem 0.04rem 0.13rem 0rem rgb(0 0 0 / 9%);
  background-color: #ffffff !important;
}

// 公用头部css
.header-nav-bar {
  height: rem(100rem);
  line-height: rem(100rem);

  &::after {
    content: none !important;
  }

  .van-nav-bar--fixed {
    z-index: 103 !important;
  }

  &.bg-header {
    @include webp($base-img-dir + 'public_background.png');
    background-size: 100% auto;
    background-position: center rem(-88rem);

    .van-nav-bar {
      background: none;
    }

    .van-nav-bar__content {
      box-shadow: none;

      .van-nav-bar__title {
        color: #fff;
      }
    }
  }

  .van-nav-bar__content {
    height: rem(100rem);
    // box-shadow: rem(0rem) rem(4rem) rem(13rem) rem(0rem) rgba(0, 0, 0, 0.09);
    background: transparent linear-gradient(90deg, #674837 0%, #1e120f 100%) 0 0 no-repeat padding-box;
    color: #fff;

    .van-nav-bar__title {
      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
      font-size: rem(32rem);
      // line-height: rem(80rem);
      font-weight: 500;
      color: #fff;
      max-width: 75%;
      text-transform: uppercase;
      height: rem(100rem);
      line-height: rem(115rem);
    }
  }

  .header-icon-back {
    width: rem(20rem);
    height: rem(35rem);
    color: #fff !important;
    font-weight: bold;
  }

  .header-icon-help {
    margin-top: rem(6rem);
  }

  .van-nav-bar__left {
    padding: 0;
    padding-left: rem(30rem);
  }

  .van-nav-bar.van-hairline--bottom::after {
    content: none;
  }

  ::v-deep(.van-hairline--bottom) {
    &::after {
      content: none;
      border: none;
    }
  }

  .van-nav-bar__right {
    height: 100%;
    font-size: rem(20rem);
    padding-right: rem(21rem);

    img {
      width: rem(68rem);
      height: rem(68rem);
    }

    .van-nav-bar__text {
      color: #fff;
      font-size: rem(20rem);
    }
  }

  .van-nav-bar__title {
    line-height: rem(100rem);
  }
}

.egame-header {
  .van-nav-bar--fixed {
    background-color: rgba(255, 255, 255, 0);
  }
}

.abnormal-header {
  .van-nav-bar__content {
    .van-nav-bar__title {
      font-size: rem(28rem);
    }
  }
}

.act-header {
  .van-nav-bar__content {
    .van-nav-bar__title {
      color: $txt-c3;
      box-shadow: rem(0rem) rem(4rem) rem(13rem) rem(0rem) rgba(0, 0, 0, 0.09);
    }
  }
}

.date-picker {
  height: 40%;

  ::v-deep(.van-picker__toolbar) {
    height: rem(76rem);
    border-bottom: rem(1rem) solid $theme-bd-color12;
  }

  ::v-deep(.van-picker-column__item) {
    font-size: rem(30rem);
  }

  ::v-deep(.van-picker__title) {
    font-size: rem(30rem);
    color: map.get($colors, black);
  }

  ::v-deep(.van-picker__cancel),
  ::v-deep(.van-picker__confirm) {
    color: $theme-txt-color35;
    font-size: rem(30rem);
  }
}

.p-bg {
  @include webp($base-img-dir + 'public_background.png');
  background-size: 100% auto;
  background-color: #fffbef;
  background-position: center rem(-88rem);
}

a,
body,
button,
input {
  color: #263440;
  font-family: AppleSystemUIFontRegular;
}

.ym-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%);
  color: #674837;
  text-shadow: 0px 3px 6px #472f2280;
  text-transform: uppercase;
  font-size: rem(28rem);
  font-family: AppleSystemUIFontBold;

  &.big {
    height: rem(96rem);
    border-radius: rem(48rem);
  }

  &.middle {
    height: rem(64rem);
    border-radius: rem(16rem);
    box-shadow: 0 rem(4rem) 0 0 $bg-c16;
  }

  &[disabled] {
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: rem(1000rem);
    }
  }
}

.keybord-active {
  transform: translateY(-4rem);
  padding-top: 4rem !important;
  background-position-y: calc(4rem - 0.88rem);
}

i.copy {
  width: rem(32rem);
  height: rem(32rem);
  @include webp($base-img-dir + 'copy.png');
  background-size: 100%;
}

span.van-loading__text,
div.van-pull-refresh__head {
  color: #afb0ba;
  font-size: rem(24rem);
}

$enum: '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10';

@each $i in $enum {
  .g-vip#{$i} {
    @include webp($base-img-dir + 'vip/vip' + $i + '.png');
    background-size: 100%;
  }

  .w-vip#{$i} {
    @include webp($base-img-dir + 'vip/w-vip' + $i + '.png');
    background-size: 100%;
  }
}

.vip-icon {
  width: rem(70rem);
  height: rem(20rem);
}

.p-glass {
  width: rem(690rem);
  background: #292828;
  box-shadow: rem(0rem) rem(8rem) rem(26rem) rem(0rem) rgba(0, 0, 0, 0.09);
  border-radius: rem(16rem);
  margin: rem(20rem) auto;
}

.van-toast {
  min-width: rem(360rem);
  min-height: rem(88rem);
  background: black !important;
  border-radius: rem(16rem);
  font-size: rem(28rem);
  line-height: rem(36rem);
  padding: rem(10rem) rem(20rem);
  text-transform: capitalize;
  color: #fff;
  border: rem(2rem) solid #f5e8c4;
}

div.van-popup {
  // background: transparent linear-gradient(90deg, #14090999 0%, #29171799 100%) 0% 0% no-repeat padding-box;
  background-color: unset;
  // border: 2px solid #fcefd5;
  border-radius: rem(10rem);
}

div.van-popup--bottom.van-popup--round {
  border-radius: rem(10rem);
  overflow: hidden;
}

.help-footer,
.phone-footer {
  width: rem(570rem);
  margin: rem(35rem) auto 0;
  line-height: rem(40rem);
  color: #fff;
  padding-bottom: rem(48rem);
  font-size: rem(24rem);

  a {
    color: #fcde9e;
    text-decoration: underline;
    display: block;
  }
}

.ym-dialog {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: rem(20rem);
  background-color: map.get($colors, white);

  &.bank-dialog {
    padding: rem(38rem) rem(62rem) rem(50rem);
  }

  .ym-dialog-head {
    margin-bottom: rem(20rem);
    color: map.get($colors, black);

    span {
      color: #d7bc6e;
      font-weight: normal;
    }
  }

  &.recharge {
    p {
      margin-top: rem(8rem);
      letter-spacing: rem(2rem);
      color: $txt-c4;
      font-size: rem(28rem);
    }
  }

  .ym-dialog-close {
    display: block;
    top: rem(14rem);
    right: rem(16rem);
    width: rem(32rem);
    height: rem(32rem);
    background: url(link($base-img-dir + 'icon-close.svg')) no-repeat;
    background-size: 100% 100%;
  }

  .ym-submit {
    display: block;
    width: rem(420rem);
    height: rem(70rem);
    margin: rem(48rem) auto 0;
    color: #fff;
    background-color: #d7bc6e;
    outline: none;
    border: none;
    border-radius: rem(16rem);
  }

  .ym-dialog-t {
    padding: rem(12rem) 0 rem(34rem);
    color: $txt-c3;
  }

  .ym-dialog-des {
    line-height: rem(44rem);
    padding: 0 rem(40rem);
    color: $txt-c4;
  }

  .ym-form-ipt {
    padding: rem(14rem) 0 rem(30rem);
    font-weight: 500;
    color: $theme-txt-color12;
  }

  .ym-btn-wp {
    padding: 0 rem(24rem) rem(40rem);

    span {
      width: rem(180rem);
      height: rem(80rem);
      line-height: rem(80rem);
      margin: 0 rem(16rem);
      border: rem(2rem) solid #d7bc6e;
      border-radius: rem(16rem);

      &.ym-btn-l {
        color: #d7bc6e;
      }

      &.ym-btn-r {
        background-color: #d7bc6e;
        color: #fff;
        opacity: 0.5;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .act-btn {
    margin-top: rem(30rem);
  }
}

.ym-popup {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.type-item {
  width: rem(164rem);
  height: rem(150rem);
  border: solid rem(2rem) #515151;
  border-radius: rem(6rem);
  //margin-bottom: rem(20rem);
  //margin-right: 0.18rem;
  color: #000;
  background: #515151;
  text-align: center;
  box-sizing: border-box;
  color: $theme-txt-color12;
  position: relative;

  .t-discount {
    color: #ff0000;
  }

  //&:nth-child(4) {
  //  margin-right: 0;
  //}
  .type-icon {
    margin: rem(18rem) auto 0;
    width: rem(72rem);
    height: rem(72rem);
  }

  .t-name {
    margin-top: rem(6rem);
    color: #fff;
  }

  .auto-fs {
    line-height: 0.2rem;
    font-size: 0.16rem;
  }

  .unionpay {
    margin-top: rem(-10rem);

    p {
      margin-top: rem(3rem);
    }
  }

  .mt {
    margin-top: rem(-8rem);
  }

  &.active {
    border: solid rem(2rem) #d7bc6e;

    &::after {
      width: rem(32rem);
      height: rem(32rem);
      content: '';
      // background: url(link($base-img-dir + 'icon-checked.svg')) no-repeat;
      @include webp($base-img-dir + 'icon-checked.png');
      background-size: 100% 100%;
      position: absolute;
      right: rem(-2rem);
      bottom: rem(-2rem);
      z-index: 2;
    }
  }
}

.radius-pop {
  border-radius: rem(42rem) rem(42rem) 0 0;
  overflow: hidden;
}

.bg-pop {
  background: #292828;
  background-color: initial;
}

.wrap-placeholder::-webkit-input-placeholder {
  white-space: pre-line;
  position: relative;
  top: rem(-15rem);
  line-height: rem(28rem);
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-0 {
  @include webp($base-img-dir + 'avatars/avatar-default.png');
  background-size: 100%;
}

.van-toast {
  z-index: 2021 !important;
}

span {
  &.icon-bank {
    display: inline-block;
    margin-right: rem(20rem);
    width: rem(128rem);
    height: rem(64rem);
    background-position: center center;
  }

  $icons: '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127',
    '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '480';

  @each $i in $icons {
    &.icon-#{$i} {
      @include webp($base-img-dir + 'bank/icon-' + $i + '.png');
      background-size: 100%;
    }
  }
}

.bg-container {
  @include webp($base-img-dir + 'personal/personal-bg.png');
  background-size: cover;
  background-position: top center;
}

.gold-container {
  background: transparent linear-gradient(90deg, #3b2d2d99 0%, #190b0b99 100%) 0% 0% no-repeat padding-box;
  border: rem(2rem) solid #f5e8c4;
  border-radius: rem(30rem);
}

.deep-color-container {
  background: transparent linear-gradient(90deg, #3b2d2d 0%, #291717 100%) 0% 0% no-repeat padding-box;
  border: rem(2rem) solid #674837;
  border-radius: rem(30rem);
}

.gold-border {
  border: rem(2rem) solid #f5e8c4;
}

.main-btn {
  background: transparent linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%) 0% 0% no-repeat padding-box;
  border-radius: rem(50rem);
  color: #674837;
  padding: rem(23rem) rem(56rem);
  text-shadow: 0px 3px 6px #472f2280;
  font-family: AppleSystemUIFontBold;
  font-size: rem(26rem);
  margin: 0 auto;
  display: block;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }
}

.main {
  height: calc(100% - 1rem);

  .mask {
    height: 100%;
    padding: rem(20rem) rem(25rem);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
  }
}

// 下拉弹框公共样式。
.customize-picker {
  background-color: transparent !important;

  .van-datetime-picker,
  .date-picker,
  .van-picker {
    border-radius: rem(30rem) rem(30rem) 0 0;
    overflow: hidden;
    background-color: transparent;
  }

  .van-picker__toolbar {
    background: transparent linear-gradient(271deg, #472f22 0%, #674837 100%) 0% 0% no-repeat padding-box;
    height: rem(86rem);
    padding: 0 rem(25rem);
    border-radius: rem(30rem) rem(30rem) 0 0;
    text-transform: uppercase;
    font-size: rem(28rem);

    button {
      font-size: rem(28rem);
      color: #fcefd5;
      text-transform: uppercase;
    }

    .van-picker__title {
      color: #fff;
      overflow: visible;
    }
  }

  .van-picker__columns {
    background: transparent linear-gradient(90deg, #FCEFD5 0%, #DDD1C5 100%) 0% 0% no-repeat padding-box;
    padding: 0 rem(20rem);

    .van-picker__mask {
      display: none;
    }
  }


  .van-ellipsis {
    font-size: rem(28rem);
    color: rgba(103, 72, 55, 0.3);
  }

  .van-picker-column__item {
    height: rem(86rem);
    font-size: rem(48rem);
    color: rgba(103, 72, 55, 0.3);
    margin: 0;

    .van-ellipsis {
      font-size: rem(48rem);
      color: rgba(103, 72, 55, 0.3);
    }
  }

  .van-picker-column__item--selected {
    font-size: rem(48rem);
    background-color: rgba(198, 168, 108, 0.3);

    .van-ellipsis {
      font-size: rem(48rem);
      color: #674837;
      line-height: rem(86rem);
    }
  }

  .van-picker__mask {
    background-image: inherit;
  }
}

// 自定义公共 提交 按钮样式
.customize-public-submit {
  background: linear-gradient(90deg, #f5e8c4 0%, #e3bb83 100%);
  color: #674837;
  text-shadow: 0 rem(3rem) rem(6rem) #472F2280;
  text-transform: uppercase;
  font-size: rem(28rem);
  line-height: rem(28rem);
  font-family: AppleSystemUIFontBold;
  font-weight: bold;
  border-radius: rem(500rem);
}

// 自定义公共 取消 按钮样式
.customize-public-cancel {
  background: linear-gradient(to right, #fff 0%, #fcefd5 100%);
  color: #674837;
  text-shadow: 0 rem(3rem) rem(6rem) #472F2280;
  text-transform: uppercase;
  font-size: rem(28rem);
  line-height: rem(28rem);
  font-family: AppleSystemUIFontBold;
  font-weight: bold;
  border-radius: rem(500rem);
}