@font-face {
  font-family: 'DINCondensed';
  src: url(link('/font/DINPro-Medium.otf'));
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSystemUIFontRegular';
  src: url(link('/font/Myriad-Pro-Regular.ttf'));
  font-weight: normal;
  font-style: normal;
  // transform: translateY(10px);
}
@font-face {
  font-family: 'AppleSystemUIFontLight';
  src: url(link('/font/Myriad-Pro-Light.ttf'));
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSystemUIFontBold';
  src: url(link('/font/Myriad-Pro-Bold.ttf'));
  // src: url(link('/assets/font/MYRIADPRO-BOLD.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AppleSystemUIFontBlack';
  src: url(link('/font/Myriad-Pro-Black.ttf'));
  font-weight: normal;
  font-style: normal;
}
