.prerogative {
  width: 100%;
  background: #F3F9FE;
  padding-top: rem(38rem);
  .txt-c33 {
    color: #424654;
  }
  h2 {
    margin-left: rem(46rem);
  }
  h2::before {
    content: '';
    display: block;
    width: rem(8rem);
    height: rem(38rem);
    background-color: #E3A090;
    border-radius: rem(4rem);
    position: absolute;
    left: rem(-16rem);
  }
  .list {
    padding: rem(34rem) rem(30rem) rem(20rem);
    li {
      margin-top: rem(10rem);
      height: rem(116rem);
      width: rem(340rem);
      border-radius: rem(4rem);
      background: rgba(227,160,144,0.3);
    }
    .icon {
      width: rem(104rem);
      height: 100%;
      border-radius: rem(4rem);
      background: #E3A090;
      background-size: 100% auto; 
      i {
        @include webp($base-img-dir +'vip/icon-vip.png');          
      }     
      .icon-vip0 {
        width: rem(46rem);
        height: rem(36rem);
        background-size: rem(46rem) auto;
        background-position-y: 0;
      }
      .icon-vip1 {
        width: rem(44rem);
        height: rem(43rem);
        background-size: rem(44rem) auto;
        background-position-y: rem(-158rem);
      }
      .icon-vip2 {
        width: rem(44rem);
        height: rem(42rem);
        background-size: rem(43rem) auto;
        background-position-y: rem(-112rem);
      }
      .icon-vip3 {
        width: rem(46rem);
        height: rem(44rem);
        background-size: rem(44rem) auto;
        background-position-y: rem(-73rem);
      }
      .icon-vip4 {
        width: rem(40rem);
        height: rem(42rem);
        background-size: rem(42rem) auto;
        background-position-y: rem(10rem);
      }
      .icon-vip5 {
        width: rem(48rem);
        height: rem(47rem);
        background-size: rem(48rem) auto;
        background-position-y: rem(-221rem);
      }
    }
    .info {
      padding: rem(16rem) 0 rem(20rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p:first-child {
        color: #424654;
        font-size: rem(32rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: 'DINCondensed';
      }
      p:last-child {
        font-size: rem(20rem);
        color: #8695aa;
        white-space: nowrap;
      }
    }
  }
}
