.top-info {
  height: rem(492rem);
  width: 100%;
  @include webp($base-img-dir + 'vip/top-background.png');
  background-size: 100% auto;
  background-position: center rem(-180rem);
  padding-top: rem(66rem);
  margin-top: 0;
  &.no-header {
    height: rem(490rem);
    padding-top: rem(64rem);
    background-position: center 0;
  }
  .info {
    width: 100%;
    padding: 0 rem(30rem) 0 rem(54rem);
  }
  .info-avatar {
    width: rem(100rem);
    height: rem(100rem);
    border-radius: 50%;
    margin-right: rem(30rem);
  }
  .info-username {
    padding-top: rem(12rem);
    flex: 1;
    font-weight: 500;
    .username {
      font-size: rem(28rem);
      color: #000000;
      margin-bottom: rem(6rem);
    }
    .rank {
      font-weight: normal;
      font-size: rem(22rem);
      color: #fff;
    }
  }
  .vip-level-pic {
    width: rem(200rem);
    height: rem(192rem);
    pointer-events: none;
  }
  $vip-enum: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
  @each $n in $vip-enum {
    .vip#{$n} {
      @include webp($base-img-dir + 'vip/g-vip.png');
      background-size: rem(200rem) auto;
      background-position-y: rem($n * -201rem);
    }
  }
  .vip-progress {
    display: flex;
    width: 100%;
    margin: rem(32rem) auto 0;
    justify-content: center;
    .level {
      border-radius: rem(16rem);
      width: rem(66rem);
      height: rem(30rem);
      line-height: rem(30rem);
      color: $txt-c2;
      font-size: rem(20rem);
    }
    .pre-level {
      // background: linear-gradient(90deg, #ffe4af 0%, #efc85b 100%);
      background: #E3A090;
    }
    .next-level {
      background: linear-gradient(90deg, #dbdde2 0%, #beb7c0 100%);
    }
    .progress {
      margin: 0 rem(18rem);
      .p-line {
        width: rem(458rem);
        height: rem(16rem);
        @include webp($base-img-dir + 'vip/progress-empty.png');
        background-size: 100% auto;
        background-position: center center;
        box-shadow: rem(0rem) rem(4rem) rem(8rem) rem(0rem) rgba($color: #000000, $alpha: 0.12);
        overflow: hidden;
        border-radius: rem(16rem);
        .a-line {
          width: 100%;
          height: 100%;
          @include webp($base-img-dir + 'vip/progress.png');
          background-size: 100% auto;
          background-position: center center;
          transform: translateX(-50%);
        }
      }
      .sanjiao {
        width: rem(20rem);
        height: rem(20rem);
        background: url(link($base-img-dir + 'vip/sanjiao.svg')) no-repeat;
        position: relative;
        left: 0;
      }
      .f-wrap {
        left: 50%;
        transform: translateX(-50%);
        bottom: rem(-6rem);
        color: #40414e;
        p {
          font-family: 'DINCondensed';
          position: relative;
          left: 0;
        }
        img {
          width: rem(30rem);
          height: rem(30rem);
        }
      }
    }
  }

  .deposit {
    width: 100%;
    li {
      font-size: rem(24rem);
      margin-top: rem(8rem);
      div {
        width: rem(8rem);
        height: rem(8rem);
        background-color: #E3A090;
        border-radius: 50%;
        margin-left: rem(60rem);
      }
      span {
        margin-left: rem(8rem);
        color: #fff;
      }
      i.active {
        font-size: rem(24rem);
        color: #fff;
        margin-right: rem(24rem);
      }
    }
  }
}
