.icon-aov,
.icon-baccara,
.icon-badminton,
.icon-ball,
.icon-baseball,
.icon-basketball,
.icon-center,
.icon-csgo,
.icon-dota2,
.icon-doudizhu,
.icon-dzpk,
.icon-fenfen,
.icon-fifa,
.icon-football,
.icon-hs,
.icon-lol,
.icon-longhu,
.icon-majiang,
.icon-niuniu,
.icon-north,
.icon-ow,
.icon-pcegg,
.icon-pingpong,
.icon-pk10,
.icon-racing,
.icon-roulette,
.icon-sangong,
.icon-sicbo,
.icon-snooker,
.icon-soccer,
.icon-south,
.icon-tennis,
.icon-volleyball,
.icon-zhajinhua {
  display: inline-block;
  @include webp($base-img-dir + 'sprite/sprite02.png');
  background-size: 288px 241px;
}
.icon-aov {
  width: 41px;
  height: 48px;
  background-position: 0px 0px;
}
.icon-baccara {
  width: 40px;
  height: 48px;
  background-position: -207.5px 0px;
}
.icon-badminton {
  width: 41px;
  height: 47px;
  background-position: -124.5px -97px;
}
.icon-ball {
  width: 41px;
  height: 47px;
  background-position: -166px 0px;
}
.icon-baseball {
  width: 40px;
  height: 47px;
  background-position: -207.5px -145.5px;
}
.icon-basketball {
  width: 40px;
  height: 47px;
  background-position: -121.5px -193px;
}
.icon-center {
  width: 41px;
  height: 47px;
  background-position: -166px -47.5px;
}
.icon-csgo {
  width: 41px;
  height: 48px;
  background-position: -41.5px 0px;
}
.icon-dota2 {
  width: 41px;
  height: 48px;
  background-position: -83px 0px;
}
.icon-doudizhu {
  width: 41px;
  height: 48px;
  background-position: 0px -48.5px;
}
.icon-dzpk {
  width: 40px;
  height: 48px;
  background-position: -207.5px -48.5px;
}
.icon-fenfen {
  width: 41px;
  height: 47px;
  background-position: -166px -95px;
}
.icon-fifa {
  width: 40px;
  height: 48px;
  background-position: -207.5px -97px;
}
.icon-football {
  width: 40px;
  height: 47px;
  background-position: -162px -193px;
}
.icon-hs {
  width: 41px;
  height: 48px;
  background-position: -41.5px -48.5px;
}
.icon-lol {
  width: 41px;
  height: 48px;
  background-position: -83px -48.5px;
}
.icon-longhu {
  width: 40px;
  height: 48px;
  background-position: 0px -193px;
}
.icon-majiang {
  width: 40px;
  height: 48px;
  background-position: -40.5px -193px;
}
.icon-niuniu {
  width: 41px;
  height: 48px;
  background-position: -124.5px 0px;
}
.icon-north {
  width: 41px;
  height: 47px;
  background-position: 0px -145.5px;
}
.icon-ow {
  width: 41px;
  height: 48px;
  background-position: -124.5px -48.5px;
}
.icon-pcegg {
  width: 41px;
  height: 47px;
  background-position: -41.5px -145.5px;
}
.icon-pingpong {
  width: 40px;
  height: 47px;
  background-position: -202.5px -193px;
}
.icon-pk10 {
  width: 41px;
  height: 47px;
  background-position: -83px -145.5px;
}
.icon-racing {
  width: 40px;
  height: 47px;
  background-position: -248px 0px;
}
.icon-roulette {
  width: 41px;
  height: 48px;
  background-position: 0px -97px;
}
.icon-sangong {
  width: 40px;
  height: 48px;
  background-position: -81px -193px;
}
.icon-sicbo {
  width: 41px;
  height: 48px;
  background-position: -41.5px -97px;
}
.icon-snooker {
  width: 41px;
  height: 47px;
  background-position: -124.5px -145.5px;
}
.icon-soccer {
  width: 40px;
  height: 47px;
  background-position: -248px -47.5px;
}
.icon-south {
  width: 41px;
  height: 47px;
  background-position: -166px -145.5px;
}
.icon-tennis {
  width: 40px;
  height: 47px;
  background-position: -248px -95px;
}
.icon-volleyball {
  width: 40px;
  height: 47px;
  background-position: -248px -142.5px;
}
.icon-zhajinhua {
  width: 41px;
  height: 48px;
  background-position: -83px -97px;
}
