.icon-1055235995899664907,
.icon-1371916075841224188,
.icon-2306856765348772637,
.icon-2306868265751548753,
.icon-2658175169982643138,
.icon-2854120181948444476,
.icon-2854123669982643138,
.icon-3316856765658772637,
.icon-362857114342923387,
.icon-437956722483179563,
.icon-5053897100933741162,
.icon-5864536520458745696,
.icon-6861705028422769039,
.icon-7426646715018523638,
.icon-75445461569712187,
.icon-7834312758412315724,
.icon-7834312767105315828,
.icon-7927534376372523583,
.icon-8318022162827355323,
.icon-8840968478572375866,
.icon-8840968482572372234 {
  display: inline-block;
  @include webp($base-img-dir + 'sprite/sprite03.png');
  background-size: 528.5px 364.5px;
}
.icon-1055235995899664907 {
  width: 87px;
  height: 90px;
  background-position: 0px -274.5px;
}
.icon-1371916075841224188 {
  width: 87px;
  height: 91px;
  background-position: -265.5px -90.5px;
}
.icon-2306856765348772637 {
  width: 88px;
  height: 90px;
  background-position: -88.5px -91.5px;
}
.icon-2306868265751548753 {
  width: 87px;
  height: 91px;
  background-position: 0px -183px;
}
.icon-2658175169982643138 {
  width: 87px;
  height: 90px;
  background-position: -87.5px -274.5px;
}
.icon-2854120181948444476 {
  width: 87px;
  height: 90px;
  background-position: -175px -274.5px;
}
.icon-2854123669982643138 {
  width: 87px;
  height: 91px;
  background-position: -87.5px -183px;
}
.icon-3316856765658772637 {
  width: 87px;
  height: 90px;
  background-position: -262.5px -274.5px;
}
.icon-362857114342923387 {
  width: 88px;
  height: 91px;
  background-position: 0px 0px;
}
.icon-437956722483179563 {
  width: 87px;
  height: 91px;
  background-position: -175px -183px;
}
.icon-5053897100933741162 {
  width: 88px;
  height: 90px;
  background-position: -177px -91.5px;
}
.icon-5864536520458745696 {
  width: 87px;
  height: 91px;
  background-position: -262.5px -183px;
}
.icon-6861705028422769039 {
  width: 88px;
  height: 91px;
  background-position: -88.5px 0px;
}
.icon-7426646715018523638 {
  width: 88px;
  height: 91px;
  background-position: -177px 0px;
}
.icon-75445461569712187 {
  width: 87px;
  height: 90px;
  background-position: -350px -274.5px;
}
.icon-7834312758412315724 {
  width: 88px;
  height: 90px;
  background-position: -265.5px 0px;
}
.icon-7834312767105315828 {
  width: 87px;
  height: 91px;
  background-position: -354px 0px;
}
.icon-7927534376372523583 {
  width: 87px;
  height: 91px;
  background-position: -354px -91.5px;
}
.icon-8318022162827355323 {
  width: 88px;
  height: 91px;
  background-position: 0px -91.5px;
}
.icon-8840968478572375866 {
  width: 87px;
  height: 91px;
  background-position: -354px -183px;
}
.icon-8840968482572372234 {
  width: 87px;
  height: 90px;
  background-position: -441.5px 0px;
}
