.icon-egame-search,
.icon-agent,
.icon-app,
.icon-arrow-list-a,
.icon-arrow-list,
.icon-close,
.icon-cs,
.icon-egame-all-active,
.icon-egame-all,
.icon-egame-hot-active,
.icon-egame-hot,
.icon-egame-new-active,
.icon-egame-new,
.icon-fcs,
.icon-i-deposit,
.icon-i-transfer,
.icon-i-withdrawal,
.icon-menu0,
.icon-menu1,
.icon-menu2,
.icon-menu3,
.icon-promotion-btn,
.icon-promotion,
.icon-step1-a,
.icon-step2-a,
.icon-step2,
.icon-step3-a,
.icon-step3,
.icon-tab70,
.icon-tab72,
.icon-tab73,
.icon-tab74,
.icon-tab75,
.icon-tab76,
.icon-tab77,
.icon-tag72,
.icon-tag73,
.icon-tag74,
.icon-tag75,
.icon-tag76,
.icon-tag77,
.icon-transfer {
  display: inline-block;
  @include webp($base-img-dir + 'sprite/sprite01.png');
  background-size: 394px 254px;
}
.icon-egame-search {
  width: 16px;
  height: 16px;
  background-position: -171.5px -52.5px;
}
.icon-agent {
  width: 31px;
  height: 31px;
  background-position: -263px -99.5px;
}
.icon-app {
  width: 31px;
  height: 31px;
  background-position: -294.5px -99.5px;
}
.icon-arrow-list-a {
  width: 60px;
  height: 16px;
  background-position: -263px -83px;
}
.icon-arrow-list {
  width: 60px;
  height: 16px;
  background-position: -323.5px -83px;
}
.icon-close {
  width: 9.5px;
  height: 10px;
  background-position: -384px -83px;
}
.icon-cs {
  width: 31px;
  height: 31px;
  background-position: -326px -99.5px;
}
.icon-egame-all-active {
  width: 25px;
  height: 25px;
  background-position: -263px -190px;
}
.icon-egame-all {
  width: 25px;
  height: 25px;
  background-position: -288.5px -190px;
}
.icon-egame-hot-active {
  width: 25px;
  height: 25px;
  background-position: -314px -190px;
}
.icon-egame-hot {
  width: 25px;
  height: 25px;
  background-position: -339.5px -190px;
}
.icon-egame-new-active {
  width: 25px;
  height: 25px;
  background-position: -365px -190px;
}
.icon-egame-new {
  width: 25px;
  height: 25px;
  background-position: -263px -215.5px;
}
.icon-fcs {
  width: 16px;
  height: 16px;
  background-position: -188px -52.5px;
}
.icon-i-deposit {
  width: 31px;
  height: 30px;
  background-position: -263px -131px;
}
.icon-i-transfer {
  width: 31px;
  height: 30px;
  background-position: -294.5px -131px;
}
.icon-i-withdrawal {
  width: 31px;
  height: 30px;
  background-position: -326px -131px;
}
.icon-menu0 {
  width: 32px;
  height: 32px;
  background-position: -263px -50.5px;
}
.icon-menu1 {
  width: 32px;
  height: 32px;
  background-position: -295.5px -50.5px;
}
.icon-menu2 {
  width: 32px;
  height: 32px;
  background-position: -328px -50.5px;
}
.icon-menu3 {
  width: 32px;
  height: 32px;
  background-position: -360.5px -50.5px;
}
.icon-promotion-btn {
  width: 130px;
  height: 52px;
  background-position: 0px 0px;
}
.icon-promotion {
  width: 31px;
  height: 31px;
  background-position: -357.5px -99.5px;
}
.icon-step1-a {
  width: 28px;
  height: 28px;
  background-position: -357.5px -131px;
}
.icon-step2-a {
  width: 28px;
  height: 28px;
  background-position: -263px -161.5px;
}
.icon-step2 {
  width: 28px;
  height: 28px;
  background-position: -291.5px -161.5px;
}
.icon-step3-a {
  width: 28px;
  height: 28px;
  background-position: -320px -161.5px;
}
.icon-step3 {
  width: 28px;
  height: 28px;
  background-position: -348.5px -161.5px;
}
.icon-tab70 {
  width: 20px;
  height: 20px;
  background-position: -288.5px -215.5px;
}
.icon-tab72 {
  width: 20px;
  height: 20px;
  background-position: -309px -215.5px;
}
.icon-tab73 {
  width: 20px;
  height: 20px;
  background-position: -329.5px -215.5px;
}
.icon-tab74 {
  width: 17px;
  height: 18px;
  background-position: -377px -161.5px;
}
.icon-tab75 {
  width: 20px;
  height: 20px;
  background-position: -350px -215.5px;
}
.icon-tab76 {
  width: 20px;
  height: 20px;
  background-position: -370.5px -215.5px;
}
.icon-tab77 {
  width: 20px;
  height: 20px;
  background-position: -132.5px -52.5px;
}
.icon-tag72 {
  width: 132px;
  height: 50px;
  background-position: -130.5px 0px;
}
.icon-tag73 {
  width: 132px;
  height: 50px;
  background-position: 0px -52.5px;
}
.icon-tag74 {
  width: 132px;
  height: 50px;
  background-position: 0px -103px;
}
.icon-tag75 {
  width: 132px;
  height: 50px;
  background-position: 0px -153.5px;
}
.icon-tag76 {
  width: 131px;
  height: 50px;
  background-position: -263px 0px;
}
.icon-tag77 {
  width: 132px;
  height: 50px;
  background-position: 0px -204px;
}
.icon-transfer {
  width: 18px;
  height: 18px;
  background-position: -153px -52.5px;
}
