.vip-wrap {
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 5%);
  position: relative;
  width: 960px;
  height: auto;
  min-height: 818px;
  padding: 29px 30px 30px;
  overflow: hidden;
  background: #fff6f6 !important;
  .grade-info {
    .charge-flow {
      height: 98px;
      display: flex;
      align-items: flex-end;

      .grade-pic {
        height: 100%;
        width: 101px;
        margin-right: 35px;
      }

      & > section {
        width: 300px;
        display: flex;
        align-items: center;
        width: 300px;
        height: 108px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        padding: 0 22px;
        margin-right: 16px;
        & > i {
          margin-right: 10px;
          user-select: none;
        }

        & > div {
          flex: 1;
          color: #333;
          user-select: none;
          display: flex;
          justify-content: center;
          flex-direction: column;

          & > P {
            font-size: 24px;
            user-select: none;

            & > span {
              font-size: 14px;
              margin-left: 4px;
              font-weight: normal;
              user-select: none;
            }
          }

          & > b {
            display: block;
            line-height: 18px;
            font-weight: normal;
            user-select: none;
            transition: width 0.3s ease-in;
          }
        }
      }
    }

    .curr-grade {
      position: relative;
      height: 70px;
      padding: 43px 16px 0;
      display: flex;
      justify-content: space-between;
      .index-active {
        background-position: 0px -143px;
        border-color: #e8927e;
        i {
          color: #e8927e;
        }
      }

      & > span {
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 1;
        border-radius: 50%;
        border: 4px solid #bcbcbc;
        background: white;
        & > i {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          color: #8590a6;
          font-size: 12px;
          user-select: none;
          line-height: 1;
        }
      }

      .process {
        position: absolute;
        top: 48px;
        left: 25px;
        width: 850px;
        overflow: hidden;
        height: 10px;
        background: linear-gradient(180deg, #e6e6e6 0%, #b5b5b5 100%);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 7px;

        & > b {
          display: block;
          height: 100%;
          border-radius: 3px;
          background: #e8927e;
          transition: width 0.3s ease-in;
        }
      }
    }

    .next-grade {
      position: relative;
      height: 110px;
      margin-top: 8px;
      background: #ffffff;
      box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      padding: 22px 0 0 30px;

      & > i {
        position: absolute;
        top: -8px;
        left: 16px;
        border-bottom: 8px solid #fff;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
      }

      & > h3 {
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #e8927e;
      }

      & > div {
        font-size: 12px;
        color: #4b5e6f;
        display: flex;
        margin-top: 10px;

        & > p {
          width: 398px;
          height: 14px;
          line-height: 16px;

          & > span {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            margin-right: 2px;
          }
        }
      }

      & > p {
        margin-top: 11px;
        font-size: 12px;
        color: #8590a6;
      }
    }
  }

  .vip-link {
    position: absolute;
    top: 11px;
    right: 0;
    width: 165px;
    height: 128px;
    & > p {
      float: right;
      width: 135px;
      height: 34px;
      margin-top: 18px;
      padding-left: 25px;
      border-radius: 100px 0 0 100px;
      box-shadow: 0 5px 5px 0 rgb(23 58 119 / 10%);
      background: linear-gradient(140deg, #F5C4B5 0%, #E8927E 100%);
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      position: relative;

      & > span {
        margin-right: 3px;
        text-shadow: 0 0.5px 1px rgb(17 87 184 / 50%);
        font-size: 12px;
        color: #fff;
        user-select: none;
      }

      & > img {
        width: 16px;
        height: 16px;
      }
    }
    > img {
      position: absolute;
      width: 98px;
      height: 100px;
      right: 12px;
      top: 39px;
    }
  }

  .introduce,
  .discount {
    padding-top: 30px;
    color: #333;

    & > h3 {
      height: 18px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
    }

    & > ul {
      display: flex;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.09);
      border-radius: 10px;

      // li:nth-child(1) .icon-box {
      //   background-image: linear-gradient(to top, rgb(29, 110, 241) 11%, rgb(26, 205, 253) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/icon-card.webp'));
      //   }
      // }

      // li:nth-child(2) .icon-box {
      //   background-image: linear-gradient(to top, rgb(255, 97, 56) 11%, rgb(255, 145, 3) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/edu-icon.webp'));
      //   }
      // }

      // li:nth-child(4) .icon-box {
      //   background-image: linear-gradient(to top, rgb(255, 97, 56) 11%, rgb(255, 145, 3) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/icon-birth.webp'));
      //   }
      // }

      // li:nth-child(3) .icon-box {
      //   background-image: linear-gradient(to top, rgb(96, 85, 215) 11%, rgb(189, 70, 248) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/icon-qian.webp'));
      //   }
      // }

      // li:nth-child(5) .icon-box {
      //   background-image: linear-gradient(to top, rgb(255, 48, 102) 11%, rgb(255, 91, 62) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/icon-red.webp'));
      //   }
      // }

      // li:nth-child(6) .icon-box {
      //   background-image: linear-gradient(to top, rgb(76, 186, 231) 11%, rgb(83, 233, 204) 100%);

      //   .icon-item {
      //     background-image: url(link($base-img-dir + 'common/icon-fanshui.webp'));
      //   }
      // }

      & > li {
        flex: 1;
        height: 190px;
        padding-top: 35px;
        opacity: 0.84;
        background-image: linear-gradient(37deg, #ffffff 2%, #ffffff 100%);
        text-align: center;
        overflow: hidden;
        color: #41475a;

        .icon-box {
          width: 40px;
          height: 40px;
          margin-left: 54px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 5px 10px 0 rgb(0 0 0 / 17%), inset 0 1px 3px 0 #e4f7ff;

          .icon-item {
            width: 100%;
            height: 100%;
            background-position: 0 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            //background-image: url(link('/blue/kok/common/edu-icon.webp'));
          }
        }

        .title {
          height: 30px;

          & > p {
            margin-bottom: 8px;
            padding: 0 20px;
            line-height: 20px;
            font-size: 14px;
          }

          & > b {
            font-size: 12px;
            line-height: 1;
            color: #8590a6;
          }
        }

        .count {
          font-size: 18px;
          font-weight: 600;
          line-height: 1;

          & > span {
            // margin-left: 2px;
            font-size: 12px;
            font-weight: normal;
          }
        }
        &:nth-child(2),
        &:nth-child(4) {
          .title {
            & > p {
              padding: 0 25px;
            }
          }
        }
        &:last-child {
          .title {
            & > p {
              padding: 0 40px;
            }
          }
        }
      }

      & > li:nth-child(2n) {
        opacity: 1;
        background: #ffe7e7;
      }
    }
  }

  .discount {
    .discount-table {
      padding: 10px 20px 30px;
      background-color: #fff;
      color: #333;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 -5px 30px 0 rgb(158 194 225 / 20%);

      .table-head {
        display: flex;
        background-color: #fac8b9;
        border-bottom: 1px solid #ecf0f3;

        .vip-name {
          width: 78px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;

          &.bold-color {
            font-weight: 500;
          }
        }
      }

      .table-content {
        tbody tr td:nth-child(1) {
          text-align: center;
          font-weight: 500;
          padding-left: 10px;
          width: 73px;
          font-size: 14px;
        }

        tbody tr td {
          vertical-align: middle;
          height: 50px;
          border-bottom: 1px solid #ecf0f3;
          cursor: pointer;
          width: 71px;
          text-align: center;
        }

        tbody tr:hover {
          background-color: #f2f4f9 !important;
          transition: background-color 0.3s;
        }

        tbody tr:nth-of-type(even) {
          background-color: rgba($color: #f9e0ea, $alpha: 0.19);
        }
      }

      .tip {
        margin: 30px auto;
        font-size: 12px;
        line-height: 1.2;
        color: #8590a6;
        width: 600px;
      }

      .link-btn {
        margin: 25px 0;

        .el-button {
          border: none;
          outline: none;
          width: 285px;
          height: 48px;
          background: linear-gradient(135deg, #ffe3d9 0%, #fcb4a3 100%);
          box-shadow: 0px 16px 6px -8px #fff3f0;
          border-radius: 8px;
          color: white;
        }
      }
    }
  }
}
