@import './variables.scss';

* {
  padding: 0;
  margin: 0;
}

html {
  font: var(--cg-font-text4);
  color: var(--cg-color-black1);
  background-color: var(--cg-color-blue16);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// vant
:root {
  --van-overlay-background-color: rgba(0, 0, 0, 0.6);
}

.van-popup {
  z-index: 10;
}


// 小于24px的字体
.font-11 {
  font-size: 24px;
  transform: scale(0.9166);
  line-height: 22px;
}

.font-10 {
  font-size: 24px;
  transform: scale(0.8333);
  line-height: 20px;
}

.font-9 {
  font-size: 24px;
  transform: scale(0.75);
  line-height: 18px;
}

// toast样式
.cg-toast {
  padding: 24px 64px;
  border-radius: var(--cg-border-radius);
  background-color: var(--cg-color-black2);
  border: 1px solid var(--cg-color-white);

  .van-toast__text {
    max-width: 516px;
    width: max-content;
    line-height: 36px;
    text-transform: capitalize;
    font: var(--cg-font-text2);
    font-size: var(--cg-font-30);
  }
}

.cg_bar_box {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: var(--cg-color-blue10);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--cg-color-blue2);
    border-radius: 20px;
  }
}

.cskh-tips {
  font: var(--cg-font-text3);
  color: var(--cg-color-black1);

  span {
    color: var(--cg-color-blue1);
    text-decoration: underline;
  }
}

.pos-rel {
  position: relative;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.block {
  display: block;
}

.flex-middle-only {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdr-r {
  flex-direction: row;
}

.fdr-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

.jc-c {
  justify-content: center;
}

.jc-s {
  justify-content: flex-start;
}

.jc-e {
  justify-content: flex-end;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: stretch;
}

.ai-fe {
  align-items: flex-end;
}

.pointer {
  cursor: pointer;
}

// 全大写
.uppercase {
  text-transform: uppercase;
}

// 首字母大写
.capitalize {
  text-transform: capitalize;
}

.underline {
  color: var(--cg-color-blue1);
  border-bottom: 2px solid var(--cg-color-blue1);
}

.col_def {
  color: var(--cg-color-blue1);
  ;
}

.w_full {
  width: 100% !important;
}

.h_full {
  height: 100% !important;
}

.blue {
  color: var(--cg-color-blue1) !important;
}

.red {
  color: var(--cg-color-red2) !important;
}

.green {
  color: var(--cg-color-green) !important;
}

.error_text {
  color: var(--cg-color-red2);
  font: var(--cg-font-text2);
}

//客服style
.customer_service {
  color: var(--cg-color-grey6);
  font: var(--cg-font-text3);
  padding: 32px 92px;
  text-align: center;
  line-height: 30px;
  a {
    color: var(--cg-color-blue1);
    font: var(--cg-font-text3);
    text-decoration: underline;
  }
}

.van-toast__text {
  word-break: keep-all;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.cg-list-container {
  // max-height: calc(var(--viewport-height) - 88px);
  // overflow-y: auto;
}
.van-picker-column__item{
  font: var(--cg-font-text6);
  color: var(--cg-color-black1);
}
.van-picker-column__item.van-picker-column__item--selected{
  font: var(--cg-font-h4);
  color: var(--cg-color-black1);
}