// 字体
@font-face {
  font-family: 'Arial';
  src: url(../../fonts/Arial.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --cg-font-family: Arial, 'Arial', Helvetica, sans-serif;
  font-family: var(--cg-font-family);
  --cg-color-blue: #1e88e5;
  --cg-color-blue1: #1B75F0; // 文字
  --cg-color-blue2: #61CFFF;
  --cg-color-blue3: rgba(97, 206, 255, 0.102);
  --cg-color-blue4: rgba(97, 206, 255, 0.302);
  --cg-color-blue5: rgba(118, 171, 214, 0.4);
  --cg-color-blue6: #61CEFF;
  --cg-color-blue7: #3895EB;
  --cg-color-blue8: #9ED3FF;
  --cg-color-blue9: rgba(190, 215, 239, 0.6);
  --cg-color-blue10: #D3E4F5;
  --cg-color-blue11: #9BD1FD;
  --cg-color-blue12: #EDF6FF;
  --cg-color-blue13: #DEEEFB;
  --cg-color-blue14: #BEDCEF;
  --cg-color-blue15: rgba(155, 209, 253, 0.3);
  --cg-color-blue16: #F6FBFF;
  --cg-color-blue17: rgba(155, 209, 253, 0.3);
  --cg-color-blue18: #CFECFC;
  --cg-color-blue19: #ECF6FF;
  --cg-color-blue20: #E5F4FF;
  --cg-color-blue21: #B8DAF5;
  --cg-color-blue22: #CDE8FE;
  --cg-color-blue23: #73c0ff;
  --cg-color-blue24: rgba(155, 209, 253, .3);
  --cg-color-blue25: rgba(148, 221, 255, 0.7);
  --cg-color-blue26: rgba(78, 169, 255, 0.7);
  --cg-color-blue27: #4EAAFF;
  --cg-color-blue28: #AECEF2;
  --cg-color-blue29: rgba(118, 171, 214, 0.4);
  --cg-color-blue30: #1DB4F7;
  --cg-color-blue31: #0B65DF;
  --cg-color-blue32: #ACD6FF;
  --cg-color-blue33: rgba(97, 206, 255, 0.6);

  --cg-color-white: #fff;
  --cg-color-white1: #DEEDFB;
  --cg-color-white2: #F8FCFF;
  --cg-color-white3: rgba(255, 255, 255, 0.749);
  --cg-color-white4: #C8DCEC;
  --cg-color-white5: #EEF7FF;
  --cg-color-white6: #F3F9FE;
  --cg-color-white7: #FFFAED;
  --cg-color-white8: #DAE8F2;
  --cg-color-white9: rgba(255, 255, 255, 0.702);
  --cg-color-white10: #F3F9FF;
  --cg-color-white11: #deedfb;
  --cg-color-white12: #F1F8FF;

  --cg-color-red: #f44336;
  --cg-color-red1: #ff0000;
  --cg-color-red2: #DC2326; // 文字
  --cg-color-red3: #FC0505;
  --cg-color-red4: #EA6000;

  --cg-color-black: #000;
  --cg-color-black1: #4D595E; // 主要文字颜色
  --cg-color-black2: #1E120F;
  --cg-color-black6: #1A1A1A;

  --cg-color-gray: #8297A5;
  --cg-color-gray1: rgba(255, 255, 255, 0.251);
  --cg-color-gray2: rgba(222, 237, 251, 0.251);
  --cg-color-gray3: rgba(97, 206, 255, 0.024);
  --cg-color-gray4: rgba(222, 222, 222, 0.8);
  --cg-color-gray5: #92A4B0;
  --cg-color-grey6: #47515F;
  --cg-color-grey7: rgba(101, 118, 171, 0.839);
  --cg-color-grey8: rgba(118, 171, 214, 0.302);
  --cg-color-grey9: #c8c9cc;

  --cg-color-black2: rgba(0, 0, 0, 0.6); // 60%透明的黑色
  --cg-color-black3: rgba(0, 0, 0, 0.251); // 25%透明的黑色
  --cg-color-black4: rgba(27, 118, 240, 0);
  --cg-color-black5: rgba(0, 0, 0, 0.2);


  // 透明
  --cg-color-transparent: transparent;


  --cg-color-orange: #F09B1B;
  --cg-color-orange1: #FE9E0D;
  --cg-color-orange2: #FF7A00;
  --cg-color-green: #2FBF5B;

  --cg-gradient-blue-red: linear-gradient(90deg, var(--cg-color-blue) 0%, var(--cg-color-red1) 100%);
  --cg-gradient-blue-blue: linear-gradient(180deg, var(--cg-color-blue6) 0%, var(--cg-color-blue1) 100%); // 轮播的小点
  --cg-gradient-blue-white: linear-gradient(180deg, var(--cg-color-blue11) 0%, var(--cg-color-transparent) 100%);
  --cg-gradient-lightblue-blue: linear-gradient(92.79deg, var(--cg-color-blue2) 1.31%, var(--cg-color-blue1) 100%); // 蓝色按钮背景
  --cg-gradient-bluebtn-active: linear-gradient(92.79deg, var(--cg-color-blue30) 1.31%, var(--cg-color-blue31) 100%); // 蓝色按钮点击时
  --cg-gradient-white-lightblue: linear-gradient(137.93deg, var(--cg-color-white) 7.21%, var(--cg-color-white1) 49.31%, var(--cg-color-blue3) 96.05%); // 白色按钮背景
  --cg-gradient-whitebtn-active: linear-gradient(137.93deg, var(--cg-color-white12) 7.21%, var(--cg-color-blue32) 49.31%, var(--cg-color-blue33) 96.05%); // 白色按钮点击时
  --cg-gradient-marquee: linear-gradient(0deg, var(--cg-color-white5), var(--cg-color-white6)); // 首页滚动名单
  --cg-gradient-entry: linear-gradient(137.93deg,
      var(--cg-color-gray1) 7.21%,
      var(--cg-color-gray2) 49.31%,
      var(--cg-color-gray3) 96.05%),
    linear-gradient(180deg, var(--cg-color-white) 0%, var(--cg-color-white) 0.01%, var(--cg-color-white8) 100%);
  --cg-gradient-table: linear-gradient(180deg, var(--cg-color-blue19) 0%, var(--cg-color-blue20) 9.09%, var(--cg-color-blue21) 90.7%, var(--cg-color-blue22) 98.44%);
  // 框类渐变
  --cg-gradient-white-blue: linear-gradient(180deg, var(--cg-color-white) 0%, var(--cg-color-blue13) 100%);
  --cg-gradient-input-blue: linear-gradient(0deg, var(--cg-color-white5), var(--cg-color-white5)), var(--cg-color-white6);
  --cg-gradient-input-blue-but: linear-gradient(96.73deg, var(--cg-color-blue6) 5.22%, var(--cg-color-blue1) 100%);
  --cg-gradient-white-blue-login: linear-gradient(140deg, var(--cg-color-gray1) 7%, var(--cg-color-gray2) 50%, var(--cg-color-gray3) 96%), linear-gradient(180deg, var(--cg-color-white) 0%, var(--cg-color-white) 0.01%, var(--cg-color-white8) 100%, var(--cg-color-white8) 100%);
  --cg-gradient-divider: linear-gradient(90deg, var(--cg-color-black4) 1.55%, var(--cg-color-blue1) 47.72%, var(--cg-color-black4) 98.96%);
  --cg-border-image: linear-gradient(90deg, var(--cg-color-blue1) 0%, var(--cg-color-blue7) 29.17%, var(--cg-color-blue8) 48.96%, var(--cg-color-blue7) 72.4%, var(--cg-color-blue1) 100%);
  --cg-gradient-blue1-button: linear-gradient(0deg, var(--cg-color-white) 0%, var(--cg-color-blue9) 100%);
  --cg-border-switch: linear-gradient(360deg, var(--cg-color-blue13) 0%, var(--cg-color-blue14) 100%);
  --cg-promotionCard-shadow: 0px 8px 16px var(--cg-color-blue9);
  --cg-containerBorder-shadow: 0px 8px 8px var(--cg-color-blue12);
  --cg-tab-shadow: 0px 3px 6px var(--cg-color-white), inset 0px 3px 6px var(--cg-color-white4);
  --cg-bank-shadow: 0px 2px 2px var(--cg-color-black5);
  --cg-avatar-shadow: 0px 8px 8px var(--cg-color-black3);
  --cg-avatar-shadow-small: 0px 2px 4px var(--cg-color-black3);
  --cg-avatar-shadow-blue: 0px 8px 8px var(--cg-color-blue9);
  --cg-login-shadow: 0px 8px 20px var(--cg-color-blue5);
  --cg-link-shadow: 0px 3px 6px var(--cg-color-white), inset 0px 3px 6px var(--cg-color-white4);
  --cg-letter-background: linear-gradient(0deg, var(--cg-color-blue16), var(--cg-color-blue16)), var(--cg-color-white);
  --cg-bread-bg: linear-gradient(180deg, var(--cg-color-white) 0%, var(--cg-color-blue12) 100%);
  // 取款下拉条渐变
  --cg-wallet-expand: linear-gradient(180deg, var(--cg-color-blue16) 0%, var(--cg-color-white) 100%);
  --cg-chat-drag: linear-gradient(180deg, var(--cg-color-blue25), var(--cg-color-blue26) 25%, var(--cg-color-blue26) 100%);
  --cg-letter--shadow: linear-gradient(180deg, var(--cg-color-white9) 0%, var(--cg-color-blue13) 100%);

  // 圆角
  --cg-border-radius-input: 8px;
  --cg-border-radius: 16px;
  --cg-conainter-radius: 16px 16px 0 0;
  --cg-tab-radius: 20px;

  // 图片阴影
  --cg-img-shadow: drop-shadow(var(--cg-color-blue9) 2px 2px 8px);
  --cg-img-shadow1: drop-shadow(var(--cg-color-blue5) 0px 5px 10px);
  --cg-img-shadow2: drop-shadow(var(--cg-color-white) 0px 3px 6px);

  // 字体相关
  --cg-font-special: 700 48px var(--cg-font-family); // 特殊 19:04倒计时
  --cg-font-h1: 700 40px var(--cg-font-family); // 一级标题 ĐĂNG NHẬP注册
  --cg-font-h2: 700 32px var(--cg-font-family); // 二级标题 KHUYẾN MÃI活动(一级页面)
  --cg-font-h3: 700 34px var(--cg-font-family); // 三级标题 Nạp tiền存款(二级页面)
  --cg-font-h4: 700 30px var(--cg-font-family); // 四级标题 KÊNH NẠP TIỀN充值通道(标题) / Đăng nhập登录(按钮)
  --cg-font-text1: 700 28px var(--cg-font-family); // 正文1 Tên Đăng Nhập用户名 / Yumikocclemo / 个人中心金额
  --cg-font-text2: 400 26px var(--cg-font-family); // 正文2 QUẢN LÝ CẤP DƯỚI（个人中心标题） /  Đđăng Nhập（首页登录注册）
  --cg-font-text3: 400 24px var(--cg-font-family); // 正文3 MoMo 1（中大正文） / Nạp tiền có vấn đề? liên hệ CSKH（提示语）/ TỈ LỆ HOÀN TRẢ（个人中心更多功能） 
  --cg-font-text4: 400 22px var(--cg-font-family); // 正文4 QR Banking（普通正文）
  --cg-font-text5: 400 20px var(--cg-font-family); // 正文5 Casino首页游戏种类 
  --cg-font-text6: 400 30px var(--cg-font-family); // 正文6 item
  --cg-font-text7: 700 26px var(--cg-font-family); // 正文7 
  --cg-font-text8: 700 24px var(--cg-font-family); // 正文8
  --cg-font-text9: 400 28px var(--cg-font-family); // 
  --cg-font-text10: 700 22px var(--cg-font-family); // 
  --cg-font-text11: 400 48px var(--cg-font-family); // 
  --cg-font-text12: 700 18px var(--cg-font-family);
  --cg-font-text13: 700 20px var(--cg-font-family);

  // vant组件样式覆盖
  --van-popup-background-color: transparent;

  @for $i from 0 through 750 {
    --cg-px-#{$i}: #{$i}px;
  }

  @for $i from 1 through 50 {
    --cg-font-#{$i}: #{$i}px;
  }
}